<div class="chart-background" [class]="vt.getThemeColor() + '-card'">
    <div class="currentInfo">
        <div class="text">
            <div class="name">
                <span class="title">{{ title }}</span>

            </div>
            <span class="value">{{ selectedValue }}</span>
            <span class="date">{{ selectedDate | date: 'MMM dd, YYYY'}}</span>
        </div>
        <div>
            <div class="controls"
                 [class]="vt.getThemeColor() + '-lightGreen'">
                <label class="toggle"
                       [class.month]="selectedPeriod === 1"
                       [class.sixMonth]="selectedPeriod === 6"
                       [class.year]="!selectedPeriod">
                    <div (click)="selectPeriod(1)"><span >1M</span></div>
                    <div (click)="selectPeriod(6)"><span >6M</span></div>
                    <div (click)="selectPeriod(0)"><span>All</span></div>
                </label>
            </div>
        </div>
    </div>
    <div echarts
         [options]="options"
         [merge]="updateOptions"
         (chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')"></div>
</div>