.uni-row {
  /* margin: 10px 0 0 10px; */
}

.left, .right, .middle {
  width: 33.333%;
  padding: 10px;
}

.left {
}

.uni-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fffce6;
  /* margin: 10px; */
  padding: 3px;
  height: 100%;
}

.title-span {
  font-weight: bolder;
  text-align: center;
}

.filter-input {
  width: 20%;
  margin-left: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-more {
  background-color: #eebf65;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .left,
  .right,
  .middle {
    width: 100%;
  }
}

/*------------ old ---------------*/

.live-data-table {
  margin-left: 10px;
}
