<div *ngIf="ready === true; then readyBlock else loadingBlock"></div>

<ng-template #loadingBlock>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #readyBlock>


  <div id="top-div-light" class="dialog-card" [class]="vt.getThemeColor() + '-card'">

    <div>
      <div class="title">
        {{title}}
      </div>
      <p class="sub-title">Lines inside the chart have a non-comparable scale!</p>
      <div class="network-toggle">
        <div *ngIf="multipleNetworks">
          <span *ngFor="let n of networks">
            <input [id]="n" class="network-input" (change)="choseNetwork()" [value]="n" [(ngModel)]="chosenNetwork"
                   [checked]="n == chosenNetwork" type="radio" name="network">
            <label class="network-label" [class]="vt.getThemeColor()" [for]="n">
              <img class="networi-icon" [src]="networkIcons.get(n)" alt="{{n}} icon">
              {{n}}
            </label>
          </span>
        </div>
      </div>

      <mat-tab-group class="tab-group"
                     *ngIf="tabs"
                     [selectedIndex]="tabIndex"
                     (selectedTabChange)="changeTab($event)">
        <mat-tab label="General chart">

        </mat-tab>
        <mat-tab label="Staked chart">

        </mat-tab>

      </mat-tab-group>
      <div class="tab" *ngIf="tabs">
        <div class="card"
             [class.active]="!tabIndex">
          <div #chart class="chart"></div>
        </div>
        <div  class="card right-part"
              [class.active]="tabIndex">
          <div echarts
               [options]="options"></div>
        </div>
      </div>
      <div *ngIf="!tabs">
        <div #chart
             class="chart"></div>
      </div>

    </div>

  </div>

</ng-template>

