.title-wrapper {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  height: 57px;
  justify-content: space-between;
  span {
    margin: auto 0;
  }
}

.sub-title {
  font-size: 16px;
  padding: 2px;
  font-weight: 400;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

.network-toggle {
  display: flex;
  margin: 10px 0;

  .icon-wrapper {
   display: inline-flex;
   background: #5CADAA;
   border: none;
   border-radius: 10px;
   min-width: 38px;
   height: 38px;
    img {
      margin: auto;
    }
  }
  span {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #567B7A;;
  }
  .network-input {
    display: none;

    &:checked ~ .network-label {
      background: #FFFFFF;
      .icon-wrapper {
        background: #FFFFFF;
      }
      &.dark {
        background: #5CADAA;
        span {
          color: #FFFFFF;
        }
      }

      &.light {
        background: #5CADAA;
        span {
          color: #FFFFFF;
        }
      }
    }
  }

  .network-label {
    background: #FFFFFF;
    min-width: 97px;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 14px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    cursor: pointer;

    .networi-icon {
      width: 15px;
      height: 15px;
      object-fit: contain;
    }
  }

  .network-label.dark {
    background: #1A2525;
    span {
      color: #FFFFFF;
    }
  }

  .network-label.light {
    background: #FFFFFF;
    span {
      color: #567B7A;
    }
  }
}

.dialog-card {
  max-height: 765px;
  min-width: 50vw;
  border-radius: 10px;
}
.chart-wrapper {
  margin-top: 42px;
  padding: 25px 0 25px 25px;
}

.chart {
  min-height: 700px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }
}


