<div class="main-top-navigation" [class]="vt.getThemeColor() + '-card'">
  <app-main-side-menu></app-main-side-menu>
  <div class="nav-title hide-on-phone">Harvest Live Dashboard</div>
  <div class="sockets-status-container">
    <div *ngFor="let network of networks">

      <app-popover-card class="pointer">
        <ng-template>
          <p>{{network.name}} socket server status</p>
          <p>Behind by {{blockDiffs.get(network.name)||0}} blocks</p>
        </ng-template>
        <div class="network-status">
          <img width="10" [src]="network.icon" class="icon"/>
          <span class="status" [class]="ws.isNetworkConnected(network.name) ? 'online' : 'offline'">{{ws.isNetworkConnected(
              network.name) ? 'Online' : 'Offline'}}</span>
          <i *ngIf="blockDiffs.get(network.name) > 10"
              class="fas fa-exclamation-triangle" style="color: brown"></i>
        </div>
      </app-popover-card>
    </div>
  </div>
</div>
