<div class='uni-trades' [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}">

  <div #tooltip="matTooltip"
       class="trade-date left-border-box trade-field"
       matTooltip="{{dto.blockDateAdopted | date: 'dd.MM.yyyy HH:mm:ss'}}
                    {{dto.type}}
                    FARM: {{dto.amount | number}}
                    Other coin: {{dto.otherAmount | number}}
                    Price: {{dto.lastPrice | number}}
                    Last gas: {{dto.lastGas | number}}" matTooltipClass="tooltip-spaced">
    {{fullDate ?
    (dto.blockDateAdopted | date: 'dd-MMM-yyyy HH:mm:ss'):
    (dto.blockDateAdopted | date: 'HH:mm:ss')
    }}
  </div>

  <div class="trade-type left-border-box trade-field">
    <container-element [ngSwitch]="dto.type">
      <mat-icon *ngSwitchCase="'BUY'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
        aria-hidden="false" aria-label="BUY">trending_up
      </mat-icon>
      <mat-icon *ngSwitchCase="'SELL'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
        aria-hidden="false" aria-label="SELL">trending_down
      </mat-icon>
      <mat-icon *ngSwitchCase="'ADD'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
        aria-hidden="false" aria-label="ADD_LIQ">import_export
      </mat-icon>
      <mat-icon *ngSwitchCase="'REM'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
        aria-hidden="false" aria-label="ADD_LIQ">import_export
      </mat-icon>
      <mat-icon *ngSwitchDefault [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
        aria-hidden="false" aria-label="?">help
      </mat-icon>
    </container-element>
  </div>

  <div class="trade-amount left-border-box trade-field">
    {{dto.amount | number: '1.0-0'}}
  </div>

  <div class="trade-coin left-border-box trade-field">
    {{dto.coin}}
  </div>

  <div class="trade-other-amount left-border-box trade-field">
    {{dto.otherAmount | number: '1.0-0'}}
  </div>

  <div class="trade-other-coin left-border-box trade-field">
    {{dto.otherCoin}}
  </div>

  <div class="trade-price left-border-box trade-field">
    {{dto.lastPrice | number: '1.0-0'}}
  </div>

  <div (click)='showTradeLinks()' (scroll)='hideTradeLinks()'  class="trade-sign left-border-box trade-field pointer">
     <app-custom-modal [dto]="dto" *ngIf="openModal"></app-custom-modal> 
    <container-element [ngSwitch]="checkImportantOwner(dto.owner)">
      <mat-icon *ngSwitchCase="'normal'" [ngStyle]="{'color': '#b5b4b4'}" aria-hidden="false" aria-label="Price"
                class="sign-icon">
        open_in_new
      </mat-icon>
    
      <mat-icon *ngSwitchCase="'devs'" [ngStyle]="{'color': '#c4ad58'}" aria-hidden="false" aria-label="Price"
                class="sign-icon">
        warning
      </mat-icon>
      <angular-emojis *ngSwitchCase="'doHardWork'" [name]="'tractor'" class="do-hard-work-img"
                      size="20"></angular-emojis>
    </container-element>
  </div>

</div>
