.trade-field {
  font-weight: bolder;
  display: inline-block;
  min-height: 30px;
  text-align: center;
}

.trade-date {
  min-width: 17%;
  max-width: 17%;
  font-size: 0.9em;
}

.trade-type {
  min-width: 9%;
  max-width: 9%;
}

.trade-amount {
  min-width: 15%;
  max-width: 15%;
}

.trade-coin {
  min-width: 13%;
  max-width: 13%;
  font-size: 0.7em;
}

.trade-other-amount {
  min-width: 18%;
  max-width: 18%;
}

.trade-other-coin {
  min-width: 10%;
  max-width: 10%;
  font-size: 0.7em;
}

.trade-sign {
  min-width: 8%;
  max-width: 8%;
  font-size: 0.9em;
}

.trade-price {
  min-width: 10%;
  max-width: 10%;
}

.sign-icon {
  font-size: 0.9em;
}
