mat-dialog-content {
  img {
    //-webkit-animation: rotate 4s infinite;
    animation: rotate 4s steps(4) infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
