.main-row {
  min-height: 90vh;
  display: flex;
  justify-content: center;
}


.column {
  float: left;
  box-sizing: border-box;
  height: 100%;
}

.middle {
  max-width: 1024px;
  width: 100%;
  padding: 0px;
}


.side-menu {
  background: #fffce6;
  /*height: 50%;*/
  /*width: 40%;*/
}


.top-menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button-menu {
  font-size: 2em;
  margin: 5px;
}

.menu-content {
  /*min-width: 20vw;*/
  padding: 10px;
  /*margin-top: 30px;*/
}

.switch-button {
  /*width: 100%;*/
  /*margin-top: 10px;*/
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.menu-button {
  width: 100%;
  margin-top: 10px;
}

.top-menu-button-close, .top-menu-button-switch {
  width: 15%;
}

.top-menu-caption {
  width: 70%;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}


.top-menu-button-switch {

}

.top-menu-row {
  background: #fffce6;
}


footer {
  text-align: center;
  padding: 5px;
}

.button-menu-div {
  width: 20%;
}

.connection-state-div {
  /*min-height: 40px;*/
  width: 20%;
  display: flex;
  justify-content: right;
}

.top-title-div {
  width: 60%;
  /*min-height: 40px;*/
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
}

.connection-state-row {
  width: 100%;
}

.connect-title {
  float: right;
  box-sizing: border-box;
  /*width: 20%;*/
  font-size: 1em;
  font-weight: bolder;
  padding: 1px;
}

.connect-sign {
  /*width: 20%;*/
  float: right;
  box-sizing: border-box;
}


@media screen and (max-width: 1025px) {
  .top-title-div {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 900px) {
  .top-title-div {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .top-title-div {
    font-size: 0.7em;
  }
}

/*@media screen and (max-width: 900px) {*/
/*  .left, .right  {*/
/*    width: 1%;*/
/*  }*/
/*  .middle {*/
/*    width: 98%;*/
/*  }*/
/*}*/
