<mat-progress-bar color="primary" mode="query" style="width: 100%;" *ngIf="buffering"></mat-progress-bar>
<ng-sidebar-container class="sidebar-container" [class]="vt.getThemeColor() + '-background'">
  <div ng-sidebar-content style="min-height: 100%">

    <div class="main-row">
      <div class="middle">
        <app-main-top-navigation></app-main-top-navigation>

        <router-outlet></router-outlet>
      </div>
    </div>

    <footer>
      <app-main-footer></app-main-footer>
    </footer>

  </div>


</ng-sidebar-container>
