@import "../../flow-card-common-styles";
@import "../../../../../scss/utilities/fancy-ui-helpers";

.harvest-card {
    border: 1px solid rgba($dark-background-color, 0.2);

    .title-row {
        .select-strategy-2,
        .input-less-than {
            height: 25px;
            @include fancy-input($fancy-input-small-padding, $fancy-input-small-radius);
        }
    }


    .table-header {
        grid-template-columns: 17% 27% 15% 11% 15% 0;
    }

    .trades-list {

        .trades-list-item {
            grid-template-columns: 18% 26% 15% 9% 26% 0;

            .mat-icon {
                margin-left: 3px;
            }
            .transaction-type span {
                width: 63px;
                padding: 4px 0;
            }
        }

    }

}
