.dark-mode-toggle-container {
  border: 1px solid #C9DBDB;
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 57px;
  padding: 6px;

  .dark-mode-toggle-label {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
    transition: background 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    span {
      color: #5CADAA;
      width: 100%;
      text-align: center;
      margin: auto 0;
      transition: color, 0.5s;
    }

    &::after {
      background: #5CADAA;
      border-radius: 8px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: "Light";
      height: 100%;
      width: 67px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      transition: all 0.5s;
      color: #FFFFFF;
    }
  }

  #dark-mode-toggle-checkbox {
    display: none;

    &:checked ~ .dark-mode-toggle-label {
      span {
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        margin: auto 0
      }
      &::after {
        left: 50%;
        content: "Dark"
      }
    }
  }
}