<div id="top-div-light">


  <div class="main-top-stats">
    <div class="value-card farm" [class]="vt.getThemeColor() + '-card'">
      <div class="value-caption">
        FARM Price
      </div>
      <div class="value value-price">
        <span class="value-number">{{farmUsdPrice | number: '1.0-2'}}</span>
        <span class="sign">$</span>
      </div>
    </div>

    <div class="value-card gas" [class]="vt.getThemeColor() + '-card'"
         #tooltip="matTooltip" (click)="openGasPriceDialog()"
         matTooltip="Click to open history chart">
      <div class="pointer">
        <div class="value-middle">
          <img class="icon" src="assets/icons/gas.svg"/>
          <span class="small-value-caption">ETH Gas price</span>
        </div>

        <div class="value-number-middle">
          <span class="">{{gas('eth') | number: '1.0-0'}}</span>
          gw
        </div>
      </div>
      <app-custom-modal #gasPriceModal>
        <ng-template>
          <app-gas-dialog></app-gas-dialog>
        </ng-template>
      </app-custom-modal>
    </div>

    <div class="value-card native-tokens" [class]="vt.getThemeColor() + '-card'">
      <div>
        <div class="value-middle">
          <img class="icon" src="assets/icons/btc.png"/>
          <span class="small-value-caption">BTC</span>
        </div>
        <div class="value-number-middle">
          <span>{{btcUsdPrice | number: '1.0-0'}}</span><span class="value-sign">$</span>
        </div>
      </div>
      <div>
        <div class="value-middle">
          <img class="icon" src="assets/icons/eth.svg"/>
          <span class="small-value-caption">ETH</span>
        </div>
        <div class="value-number-middle">
          <span>{{ethUsdPrice | number: '1.0-0'}}</span><span class="value-sign">$</span>
        </div>
      </div>
      <div>
        <div class="value-middle">
          <img class="icon" src="assets/icons/venus-wbnb.png"/>
          <span class="small-value-caption">BNB</span>
        </div>
        <div class="value-number-middle">
          <span>{{bnbUsdPrice | number: '1.0-0'}}</span><span class="value-sign">$</span>
        </div>
      </div>
    </div>


    <div #tooltip="matTooltip" (click)="openPsTvlDialog()"
         class="value-card pointer farm-staked"
         [class]="vt.getThemeColor() + '-card'"
         matTooltipClass="tooltip-spaced"
         matTooltip="FARM staked in pools
                     PS Staked: {{psFarmTvl / farmTotalSupply * 100 | number: '1.0-1'}}%
                     LP Staked: {{lpFarmStaked / farmTotalSupply * 100 | number: '1.0-1'}}%
               ">
      <div>
        <div class="value-middle">
          🔒FARM Staked
        </div>
        <div class="value-number-middle">
          <span>{{(psFarmTvl + lpFarmStaked) / farmTotalSupply * 100 | number: '1.0-1'}}</span>
          %
        </div>
      </div>
    </div>
    <app-custom-modal #FARMStakedModal>
      <ng-template>
        <app-vault-tvl-dialog [vault]="'PS'"></app-vault-tvl-dialog>
      </ng-template>
    </app-custom-modal>


    <div #tooltip="matTooltip" (click)="openWeeklyProfitDialog()"
         class="value-card pointer weekly-profits"
         [class]="vt.getThemeColor() + '-card'"
         matTooltipClass="tooltip-spaced"
         matTooltip="Weekly profits from all vaults by network
            BSC {{weeklyProfits('bsc') / 1000 | number: '1.0-1'}}K$
            ETH {{weeklyProfits('eth') / 1000 | number: '1.0-1'}}K$
          ">
      <div>
        <div class="value-middle">
          🤑Weekly Profit
        </div>
        <div class="value-number-middle">
          <span>{{totalWeeklyProfits / 1000 | number: '1.0-1'}}</span>
          K$
        </div>
      </div>
    </div>
    <app-custom-modal #weeklyProfitModal>
      <ng-template>
        <app-weekly-profit-dialog></app-weekly-profit-dialog>
      </ng-template>
    </app-custom-modal>

    <div #tooltip="matTooltip"
         class="value-card ps-income"
         [class]="vt.getThemeColor() + '-card'"
         matTooltip="Soon">
      <div>
        <div class="value-middle">
          📈P/A Ratio
        </div>
        <div class="value-number-middle ">
          -
        </div>
      </div>
    </div>

    <div #tooltip="matTooltip"
         (click)="openTvlDialog()"
         class="value-card pointer tvl"
         [class]="vt.getThemeColor() + '-card'"
         matTooltipClass="tooltip-spaced"
        matTooltip="Total value locked by network
         BSC {{tvlSum('bsc') / 1000000 | number: '1.0-0'}}M$
         ETH {{tvlSum('eth') / 1000000 | number: '1.0-0'}}M$
             Click to open history chart">
      <div class="value-caption" style="font-size: 1.2em">
        Total Value Locked
      </div>
      <div class="value value-tvl">
        <span class="value-number">{{tvlSumAllNetwork / 1000000 | number: '1.0-0'}}</span>
        <span class="sign">M$</span>
      </div>
    </div>
    <app-custom-modal #tvlModal>
      <ng-template>
        <app-tvl-v2-dialog></app-tvl-v2-dialog>
      </ng-template>
    </app-custom-modal>


    <div #tooltip="matTooltip"
         class="value-card farm-holders"
         [class]="vt.getThemeColor() + '-card'"
         matTooltip="Accounts with positive (more than 10$) FARM balance">
      <div>
        <div class="value-middle">
          👨‍🌾FARM Holders
        </div>
        <div class="value-number-middle">
          <span>{{farmHolders | number: '1.0-0'}}</span>
        </div>
      </div>


    </div>

    <div #tooltip="matTooltip" (click)="openFarmBuybacksDialog()"
         class="value-card pointer farm-buybacks"
         [class]="vt.getThemeColor() + '-card'"
         matTooltipClass="tooltip-spaced"
         matTooltip="30% profit of each ETH HardWork goes to buy FARM
            8% profit of each BSC HardWork goes to buy FARM
            BSC {{farmBuybackSum('bsc') | number: '1.2-2'}}K
            ETH {{farmBuybackSum('eth') | number: '1.2-2'}}K
          ">
      <div>
        <div class="value-middle">
          📥Farm buybacks
        </div>
        <div class="value-number-middle">
          <span class="">{{totalFarmBuybacks | number: '1.2-2'}}</span>
          K
        </div>
      </div>
    </div>
    <app-custom-modal #farmBuybacksModal>
      <ng-template>
        <app-farm-buybacks-dialog></app-farm-buybacks-dialog>
      </ng-template>
    </app-custom-modal>

    <div #tooltip="matTooltip" (click)="openSavedFeesDialog()"
         class="value-card pointer saved-fees"
         [class]="vt.getThemeColor() + '-card'"
         matTooltipClass="tooltip-spaced"
         matTooltip="How much gas would users spend on transactions without our project?
         BSC: {{totalGasSaved('bsc') / 1000000 | number: '1.0-2'}} M$
         ETH: {{totalGasSaved('eth') / 1000000 | number: '1.0-2'}} M$
         ">
      <div>
        <div class="value-middle">
          🛡️Saved gas fees
        </div>
        <div class="value-number-middle">
          <span>{{totalGasSavedAllNetworks() / 1000000 | number: '1.0-1'}}</span>
          M$
        </div>
      </div>
    </div>
    <app-custom-modal #savedFeesModal>
      <ng-template>
        <app-saved-gas-fees-dialog></app-saved-gas-fees-dialog>
      </ng-template>
    </app-custom-modal>

    <div #tooltip="matTooltip"
         (click)="openTotalUsersDialog()"
         class="value-card pointer total-users"
         [class]="vt.getThemeColor() + '-card'"
        matTooltipClass="tooltip-spaced"
        matTooltip="Total unique accounts interacted with the project
        BSC {{userCount('bsc') | number: '1.0-0'}}
        ETH {{userCount('eth') | number: '1.0-0'}}
        ">
      <div>
        <div class="value-middle">
          👪Total users
        </div>
        <div class="value-number-middle ">
          <span>{{userCountAllNetwork | number: '1.0-0'}}</span>
        </div>
      </div>
    </div>
    <app-custom-modal #totalUsersModal>
      <ng-template>
        <app-total-users-dialog></app-total-users-dialog>
      </ng-template>
    </app-custom-modal>


    <div #tooltip="matTooltip"
         class="value-card active-pools"
         [class]="vt.getThemeColor() + '-card'"
        matTooltipClass="tooltip-spaced"
        matTooltip="Accounts staked funds in pools with balance more than 10$
        BSC {{poolUsers('bsc') | number: '1.0-0'}}
        ETH {{poolUsers('eth') | number: '1.0-0'}}
        ">
      <div>
        <div class="value-middle">
          👨‍🌾Pools active accounts
        </div>
        <div class="value-number-middle">
          <span>{{poolUsersAllNetwork | number: '1.0-0'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

