.main-top-stats {
    display: grid;
    grid-template-areas: "farm-price gas-price btc-price eth-price tvl" 
                         "farm-price farm-staked weekly-profit ps-income tvl" 
                         "farm-holders farm-buybacks saved-gas total-users active-pools";

    .value-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #fffce6;
        padding: 3px;
        margin: 0 10px 10px;
        line-height: 100%;
    }

    .farm {
        grid-area: farm-price;
    }

    .gas {
      grid-area: gas-price;
    }

    .btc {
      grid-area: btc-price;
    }

    .etch {
      grid-area: etch-price;
    }

    .farm-staked{
      grid-area: farm-staked;
    }

    .weekly-profits{
      grid-area: weekly-profit;
    }

    .ps-income {
      grid-area: ps-income;
    }

    .tvl {
      grid-area: tvl;
    }

    .farm-holders{
      grid-area: farm-holders;
    }

    .farm-buybacks{
      grid-area: farm-buybacks;
    }

    .saved-fees{
      grid-area: saved-gas;
    }

    .total-users{
      grid-area: total-users;
    }

    .active-pools{
      grid-area: active-pools ;
    }
}


.main-row {
    display: flex;
}

.value-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fffce6;
    padding: 3px;
    margin: 0 10px 10px;
    line-height: 100%;
}

.left-column .value-card,
.right-column .value-card {
    width: 100%;
}

.right-column,
.left-column {
    display: flex;
    width: 25%;
}

.right-column-bottom,
.left-column-bottom {
    width: 25%;
}

.middle-column {
    width: 50%;
}

.value-caption {
    margin-top: 5px;
    height: 35%;
    font-size: 1.7em;
    /*line-height: 100%;*/
    /*margin: 2px;*/
    font-weight: bolder;
    text-align: center;
    /*vertical-align: bottom;*/
    /*display: flex;*/
    /*justify-content: center;*/
}


.value-caption .help-sign {
    font-size: 80%;
    color: #4e4e4e;
}

.value {
    /*display: flex;*/
    height: 65%;
    margin-top: 15px;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
}



.sign {
    font-weight: bolder;
    // font-size: 2em;
}


.value-number {
    /*line-height: 80%;*/
    font-weight: bolder;
    font-size: 3.7em;
}

.value-sign {
    font-size: 0.6em;
    /*position: relative;*/
    /*line-height: 100%;*/
}


.welcome-text {
    font-size: 0.9em;
    font-weight: bolder;
    text-align: center;
}

.side-card {
    width: 100%;
}

/*------------MIDDLE---------------*/
.right-column-middle,
.left-column-middle,
.middle-column-middle {
    width: 33.333333%;
}

.value-middle {
    /*font-weight: bold;*/
    font-size: 0.85em;
    font-weight: bolder;
    text-align: center;
    /*margin: 5px;*/
}

.value-number-middle {
    /*line-height: 80%;*/
    margin-top: 3px;
    font-size: 0.9em;
    font-weight: bolder;
    text-align: center;
}

.value-number-middle text {
    font-weight: bolder;
    font-size: 1.65em;
}

.middle-top {
    width: 100%;
}

.middle-bottom {
    width: 100%;
}

.icon {
    width: 12px;
    height: 12px;
    position: absolute;
}

.small-value-caption {
    margin-left: 14px;
}

@media screen and(max-width: 900px) {
    .value-number {
        font-size: 3em;
    }

    .value {
        margin-top: 5px;
    }

    .value-card {
        margin: 0 2px 2px;
    }

 
    .welcome-text {
        font-size: 0.7em;
    };

    /** {*/
    /*  font-size: 93%;*/
    /*}*/
}

@media screen and(max-width: 600px) {
    * {
        font-size: 89%;
    }

    .icon {
        width: 6px;
        height: 6px;
    }

    .small-value-caption {
        margin-left: 8px;
    }
}

@media screen and(max-width: 400px) {
    
    /** {*/
    /*  font-size: 81%;*/
    /*}*/
}


/*-------------- OLD -------------------*/


.tvl-caption {
    font-size: 1em;
}

.last-values-table {
    width: 100%;
    margin-top: 15px;
}

.last-price-sign {
    font-size: 4em;
    color: white;
}

.last-tvl-sign {
    font-size: 4em;
    color: white;
}

.ps-sign {
    font-size: 4em;
    color: white;
}

.caption-btc,
.caption-btc-value,
.caption-btc-sign {
    color: #77612e;
}

.caption-btc-sign {
    font-size: 3em;
}

.caption-eth,
.caption-eth-value,
.caption-eth-sign {
    color: #596d56;
}

.caption-eth-sign {
    font-size: 3em;
}

.caption-ps-value,
.caption-ps-sign,
.caption-ps {
    color: mediumpurple;
}
