::ng-deep.mat-dialog-container {
  overflow: hidden;
  border-radius: 3px;
  padding: 2% !important;
  background: #fffce6;
  width: 45vw;
}

.uni-transactions {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 1.5em;
  color: black;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 1em;
    margin: 5px;
  }
}
@media screen and (max-width: 980px) {
  ::ng-deep.mat-dialog-container {
    width: 100vw;
    padding: 0;
  }
  .uni-transactions {
    width: 100%;
    margin: 0 auto;
  }
}
