::ng-deep.mat-dialog-container {
  overflow-x: hidden;
  border-radius: 3px;
  padding: 2% !important;
  background: #fffce6;
  width: 35vw;
}

.uni-transactions {
  width: 100%;
}

.title {
  font-size: 1.5em;
  color: black;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-even-more {
  background-color: #bce3e2;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin-left: 10px;
  font-size: 1.1em;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 1em;
    margin: 5px;
  }
}
@media screen and (max-width: 980px) {
  ::ng-deep.mat-dialog-container {
    width: 100vw;
    padding: 0;
    height: 80vh;
  }
  .uni-transactions {
    width: 100%;
  }
}
