@import "../../../../../scss/themes/theme-mixins";
$buy-color: #a1bca6;
$sell-color: #B80E0E;
$dark-background-color: #111111;

.harvest-trades {
  display: grid;
  position: relative;
  grid-template-columns: 14% 23% 18% 16% 22% 5%;
  padding: 14px 7px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid #F0F0F0;

  @include isDarkMode() {
    border-bottom: 1px solid  #455858;
  }
}

.harvest-field {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.harvest2-date {
  font-size: 0.9em;
}

.harvest2-amount,
.harvest2-vault,
.harvest2-tvl,
.harvest2-type{
  text-align: center;
}

.sign-icon {
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
  height: auto;
  width: auto;
}

.tvl-img {
  width: 15px;
  height: 15px;
}

.pointer:hover {
  z-index: 900;
}

.transaction-type span {

  padding: 0.3em 0.4em;
  text-align: center;
  border-radius: 0.5em;
  font-size: 0.8em;
}

@media (max-width: 1100px) {
  .harvest-trades {
    margin: 10px 0;
  }
}

/*------------------------- old *------------------------*/

/* .harvest-date {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
  }
  
  .harvest-amount {
    font-size: .9em;
  }
  
  .harvest-vault {
    font-size: 0.9em;
  }
  
  .harvest-tvl {
    font-size: 0.9em;
  } */