<div class="row footer-row">
  <div class="caption gh left-border-box">
    <img class="gh-img" src="/assets/github.svg" alt="?"/>
    <a href="https://github.com/belbix/farmdashboard-backend">Github</a>
  </div>

  <div class="caption tg left-border-box">
    <img class="tg-img" src="/assets/Telegram_logo.svg" alt="?"/>
    <a href="https://t.me/farmdashboard_bot">Telegram Bot</a>
  </div>

  <div class="caption alchemy left-border-box">
    <img class="alchemy-img" src="/assets/alchemy2.png" alt="Alchemy Supercharged"/>
    <a class="alchemy-link" href="https://dashboard.alchemyapi.io/signup?referral=7a5593cb-f0cb-4fe2-b050-fba5f986f883">
      Alchemy
    </a>
  </div>
</div>
