.title-wrapper {
    margin: 0 10px 42px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    height: 57px;
    justify-content: space-between;
    span {
        margin: auto 0;
    }
}

    .app-chart-wrapper {
        margin-left: 10px;
    }