<div class="container" [class]="vt.getThemeColor() + '-card'">

  <div class="title">
    {{data.title}}
  </div>

  <div class="disclaimer">
    Currently, balances for contracts can't be reached.
    Badger holders and transactions via Argent don't appear on this list.
  </div>

  <div class="headers">

    <div class="header-field">
      &nbsp;
    </div>

    <div class="header-field">
      Owner
    </div>

    <div class="header-field">
      Summary Balance
    </div>

    <div class="header-field">
      Links
    </div>

  </div>

  <div class="scroller">

    <div class="values" *ngFor="let balance of userBalances; let i = index">

      <div class="value-field">
        #{{i + 1}}
      </div>

      <div class="value-field">
        {{shortAddress(balance.owner)}}
      </div>

      <div class="value-field">
        {{balance.balance | number: '1.0-0'}}$
      </div>

      <div class="value-field links">
        <a href='https://etherscan.io/address/{{balance.owner}}' target='_blank' class="trade-link">Etherscan</a>
        <a href='https://app.zerion.io/{{balance.owner}}/overview' target='_blank' class="trade-link">Zerion</a>
        <a href='https://farmdashboard.xyz/history/{{balance.owner}}' target='_blank' class="trade-link">History</a>
      </div>

    </div>

  </div>

</div>
