<div class="hardwork-headers table-header" [class.showMoreColumns]="showMoreColumns" [class]="vt.getThemeColor()">
  <div *ngIf="showMoreColumns" class="hardwork-header"> Calls</div>
  <div class="hardwork-header">Date</div>
  <div class="hardwork-header">&nbsp;</div>
  <div class="hardwork-header">Vault</div>
  <div class="hardwork-header">Strategy Profit</div>
  <div *ngIf="showMoreColumns" class="hardwork-header">Farm Buyback</div>
  <div *ngIf="showMoreColumns" class="hardwork-header">Weekly Profit</div>
  <div *ngIf="showMoreColumns" class="hardwork-header">TVL</div>
  <div *ngIf="showMoreColumns" class="hardwork-header"> Period of Work</div>
  <div *ngIf="showMoreColumns" class="hardwork-header">Gas Saved</div>
  <div class="hardwork-header link">link</div>


</div>

