$paginator-style: (
    "dark": (
        "background": transparent,
        "color": #C0C4C4,
        "active-background": #5CADAA,
        "active-color": #FFFFFF
    ),
    "light": (
        "background": transparent,
        "color": #383D4A,
        "active-background": #5CADAA,
        "active-color": #FFFFFF
    )
);


@mixin paginatorColors($color) {
  $current-color: map-get($paginator-style, $color);

  background: map-get($current-color, 'background');
  border: map-get($current-color, 'border');
  color: map-get($current-color, 'color');

  &.active, &:hover {
    background: map-get($current-color, 'active-background');
    color: map-get($current-color, "active-color");
  }
}

.paginator-component {
  padding: 9px 0 19px;
  display: flex;

  .paginator-btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
    border: none;
    display: flex;
    i {
      margin: auto;
    }

    &:disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }

  &.dark {
    .paginator-btn {
      @include paginatorColors(dark)
    }
  }

  &.light {
    .paginator-btn {
      @include paginatorColors(light)
    }

  }

  .paginator-btn:first-child,
  .paginator-btn:last-child {
    color: #5CADAA;
    font-size: 10px;
  }
  .paginator-btn:first-child:hover,
  .paginator-btn:last-child:hover,
  .paginator-btn.spacer:hover{
    background: transparent;
    color: #5CADAA;
  }
  .paginator-btn.spacer:hover {
    cursor: initial;
  }

}
