.collapsable-area {
  .handle-area {
    cursor: pointer;
  }

  .content-area-wrapper {
    position: absolute;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0s, opacity 0.9s;
    transform-origin: top center;

    &.open {
      position: relative;
      transform: scaleY(1);
      opacity: 1;
      transition: transform 0.5s;
    }
  }
}
