<div class="download-historic-data-container" [class]="vt.getThemeColor() + '-card'">

  <div class="row header-row">
    <div class="left-border-box title">
      Download historic data in CSV about all existing vaults
    </div>
  </div>

  <div class="dialog-card" mat-dialog-content>
    <table (matSortChange)="sortData($event)" class="table-vaults" matSort>
      <tr>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="transactions"></th>
        <th mat-sort-header="hardwork"></th>
        <th mat-sort-header="tvl"></th>
      </tr>

      <tr *ngFor="let vault of sortedVaults">

        <td class="name">
          <app-vault-icon [vault]="vault"></app-vault-icon>
          {{vault.contract.name}}
        </td>

        <td class="transactions">
          <a href='{{getApiEndpoint(vault.contract.network)}}/csv/transactions/history/harvest/{{vault.contract.name}}'
             target='_blank' class="download-link">Transactions</a>
        </td>
        <td class="hardwork">
          <a href='{{getApiEndpoint(vault.contract.network)}}/csv/transactions/history/hardwork/{{vault.contract.name}}'
             target='_blank' class="download-link">Hardwork</a>
        </td>
        <td class="tvl">
          <a href='{{getApiEndpoint(vault.contract.network)}}/csv/transactions/history/tvl/{{vault.contract.name}}'
             target='_blank' class="download-link">TVL</a>
        </td>
      </tr>
    </table>
  </div>
</div>
