@import "../../../scss/utilities/utilities.scss";
.harvest-tx-hist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 900px;
  width: 90vw;

  
 .filters-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;

   .pool-title{
     z-index: 99999999999;
   }

   .more-than-input, .strategy-selector {
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #cdcdcd;
    outline: none;
    border-radius: 5px;
  }

  .strategy-selector-label{
    display: block;
  }


 }

  .title {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
  }


  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show-even-more {
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
    color: black;
    background-color: #eebf65;

    &:disabled{
      pointer-events: none;
      cursor: wait;
    }
  }
  @include responsive(small){
    .title {
      font-size: 1em;
      margin: 5px;
    }
  }
}