.footer-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.caption {
  font-size: 0.9em;
  font-weight: bolder;

  /*align-items: flex-end;*/
  /*display: flex;*/
  /*justify-content: center;*/
}

a {
  color: black;
}

.tg-img, .gh-img, .alchemy {

}

.tg-img, .gh-img {
  width: 15px;
  height: 15px;
  margin: 0 3px 0 10px;
}

.alchemy {

}

.alchemy-img {
  height: 15px;
  margin: 0 3px 0 10px;
}
