#main-footer-component {

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .caption {
    font-size: 0.9em;
    font-weight: bolder;
  }
 

  .tg-img,
  .gh-img {
    width: 15px;
    height: 15px;
    margin: 0 3px 0 10px;
  }

  .alchemy-img {
    height: 15px;
    margin: 0 3px 0 10px;
  }
}