@import "../../../scss/utilities/utilities";

#menu-button-toggle {
  cursor: pointer;
  border: none;
  font-size: 24px;
  background: none;
  margin-left: 5px;
  outline: none;
}

.main-top-navigation {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  box-sizing: border-box;

  @include responsive(phone) {
    grid-template-columns: 50% 50%;
  }

  .nav-title {
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    font-size: 36px;
    display: flex;
    span {
      margin: auto 0;
    }
    .first-part {
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
    }
  }

  .sockets-status-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;


    .network-status {
      font-family: 'PT Sans', sans-serif;
      color: #383D4A;
      font-size: 16px;
      margin: auto 0;
      padding: 15px 21px;
      border: 1px solid #C9DBDB;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 17px;

      .info-ico {
        margin-left: 6px;
      }

      .icon {
        height: 25px;
      }


      .status {
        font-weight: bold;
        transition: color 500ms;
      }
    }
  }

  &.dark-card {
    .network-status {
      background: #312222;
    }
  }
}

#menu-button-toggle {
  display: none;
}

@media (max-width: 1600px) {
  .main-top-navigation {
    grid-template-columns: 45px 40% calc(60% - 40px);
  }
  .nav-title {
    margin: auto auto auto 15px;
  }
  #menu-button-toggle {
    display: block;
  }
}

@media (max-width: 950px) {
  .main-top-navigation {
    grid-template-columns: 45px 50% calc(50% - 40px);
  }
}

@media (max-width: 880px) {
  .main-top-navigation .hide-on-phone {
    display: none;
  }
  .main-top-navigation {
    grid-template-columns: 45px calc(100% - 40px);
  }
}
@media (max-width: 567px) {
  .main-top-navigation {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
  }
}

@media (max-width: 567px) {
  .sockets-status-container {
    flex-direction: column;
  }
  .theme-switch-wrapper {
    display: flex;
    justify-content: center;
  }
}