
.hardwork-info {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: black;
    margin: 10px 0;
}
.hardwork-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
}

.tvl-img {
    width: 20%;
}