<div class="hardwork-info">
    <div class="hardwork-field hardwork-date left-border-box"
         matTooltip="{{dto.blockDateAdopted| date: 'dd.MM.yyyy HH:mm:ss'}}
                  {{dto.vault}}
                  
                  " matTooltipClass="tooltip-spaced">
      {{
        (dto.blockDateAdopted | date: 'dd-MMM-yyyy HH:mm:ss') 
      }}
    </div>
    <div class="hardwork-field hardwork-shareChangeUsd">
        ${{dto.shareChangeUsd.toFixed(2) | number: '1.0-0'}}
    </div>

    <div class="hardwork-field hardwork-vault">
        <img alt="?" class="tvl-img" src="{{getImgUrl(dto.vault)}}"/>
    </div>
   
    <div class="hardwork-field hardwork-tvl">
        ${{dto.tvl | number: '1.0-0'}}
    </div>

    <div class="hardwork-field hardwork-apr">
        {{dto.psApr.toFixed(2) | number: '1.0-0'}}%
    </div>

    <div class="hardwork-field hardwork-weeklyProfit">
        ${{dto.weeklyProfit.toFixed(2) | number: '1.0-0'}}
    </div>

    <div class="hardwork-field hardwork-allProfit">
        ${{dto.allProfit.toFixed(2) | number: '1.0-0'}}
    </div> 

    <div class="hardwork-field hardwork-farmBuyback">
        {{dto.farmBuyback.toFixed(2) | number: '1.0-0'}} FARM
    </div>

    <div class="hardwork-field hardwork-savedGasFees">
        ${{dto.savedGasFees.toFixed(2) | number: '1.0-0'}}
    </div>
    
    <div class="hardwork-field hardwork-poolUsers">
        {{dto.poolUsers}}
    </div>

    
</div>