
$screen_sizes: (
    phone:   "(max-width: 600px)",
    tablet:  "(min-width: 700px)",
    small:   "(max-width: 900px)",
    medium:  "(max-width: 1250px)",
    large:   "(max-width: 1600px)",
);
@mixin responsive($size){

    $query_value: map-get($screen_sizes, $size); 

    @media #{$query_value} {
        @content;
    }
}

.desktop-only{
    @include responsive('small'){
        display: none;
        visibility: hidden;
    }
}

@each $size, $value in $screen_sizes {
    .hide-on-#{$size} {
        @include responsive($size){
            display: none;
        }
    }

    .show-on-#{$size}{
        @include responsive($size){
            display: inline-block;
        }
    }
}

