.harvest-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fffce6;
  /*margin: 10px;*/
  padding: 3px;
}

.title-row {
  display: flex;
  justify-content: center;
}

.pool-title {
  font-weight: bolder;
  margin-right: 0.5vh;
}

.select-strategy-2 {
  width: 30%;
  margin-right: 0.5vh;
}

.input-less-than {
  width: 30%;
}


td {
  /*padding: 0 !important;*/
  /*margin: 0 !important;*/
}

.live-data-table {
  margin-left: 10px;
}

.select-strategy {
  width: 110px;
}
