<div class="statistic-board-page">
    <h1 class="title">Harvest Finance fAsset Charts</h1>

    <p class="description">Each data point represents 1h for the 24h period & 1d for all other periods. Each contract was initiated at a different time & as such has different max values available. Time periods are calculated using estimated average blocks per day ~6500, this is why the x axis is represented in block numbers. Annualized figures are estimates based on change during the time period. Setting the period to max will take some time to load.</p>
    
    <div *ngIf="isLoading; then loader else main"></div>

    <ng-template #loader>
        <h2 class="loader">Loading...</h2>
    </ng-template>

    <ng-template #main>
        <div class="select">
            <select [(ngModel)]="selectedContractId" (ngModelChange)="selectContract($event)">
                <option *ngFor="let contract of contracts" [value]="contract.id">{{contract.name}}</option>
            </select>
        </div>

        <div class="chart-nav">
            <div class="buttons">
                <button
                    *ngFor="let period of preriodValues"
                    class="button"
                    [class.active]="selectedPeriod.key === period.key"
                    (click)="selectPeriod(period)"
                >
                    {{period.text}}
                </button>
            </div>
        </div>
    </ng-template>

    <div class="chart-list" [class.hidden]="isLoading"> 
        <div class="chart-item">
            <div class="title">Share Prices</div>
            <app-web3chart [data]="chartsData.shares" [label]="'shares'"></app-web3chart>
        </div>
        <div class="chart-item">
            <div class="title">Pool TVL</div>
            <app-web3chart [data]="chartsData.tvl" [label]="'tvl'"></app-web3chart>
        </div>
    </div>
</div>