.title {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  width: 100vw;
  max-width: 800px;
}

button.total-value {
  text-decoration: none;
  background-color: #EEBF65;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  transition: all .2s ease-out;
  position: absolute;
  right: 200px;
  top: 10px;
  cursor: pointer;
}

.tvl-chart {
  min-height: 70vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }
}


