.title {
  font-size: 1.5em;
  margin: 10px;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  background: #fffce6;
}

::ng-deep.mat-dialog-container {
  overflow: hidden;
  border-radius: 3px;
  padding: 10px !important;
  background: #fffce6;
}

.chart {
  min-height: 70vh;
  /*width: 800px;*/
}


@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }

}

