@import "../../flow-card-common-styles";
@import "../../../../../scss/utilities/fancy-ui-helpers";

.hardwork-card {

  .title-row {


    .title {
      text-align: center;
      width: 100%;
      padding: 5px;
    }

    .select-strategy-2,
    .input-less-than {
      height: 25px;
      @include fancy-input($fancy-input-small-padding, $fancy-input-small-radius);
    }
  }

  .table-header {
    grid-template-columns: 30% 8% 35% 20% 5%;
  }

  .trades-list {
    height: 192px;

    .trades-list-item {
      grid-template-columns: 30% 10% 35% 20% 5%;

      .vault-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .vault-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

    }

  }
}
