@import "../../flow-card-common-styles";
@import "../../../../../scss/utilities/fancy-ui-helpers";

.hardwork-card {
  .title-row {
    .select-strategy-2,
    .input-less-than {
      height: 25px;
      @include fancy-input($fancy-input-small-padding, $fancy-input-small-radius);
    }
  }

  .table-header {
    grid-template-columns: 31% 0% 42% 20% 5%;
  }

  .trades-list {
    .hardwork-date {
      font-family: 'PT Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
    }

    .trades-list-item {
      grid-template-columns: 31% 5% 38% 20% 5%;

      .vault-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      .vault-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
      }

      .income {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
      }

    }

  }
}
