<div id="top-div-light">
  <div class="harvest-card" [class]="vt.getThemeColor() + '-card'">
    <div class="row title-row">
      <app-popover-card aria-hidden="false" aria-label="?" class="pool-title left-border-box">
        <ng-template>
          <p>Changes in Harvest vaults.</p>
          <p>Format: Date | add/remove | Amount in USD | Pool TVL</p>
        </ng-template>
        <h4 class="title">Pools</h4>
      </app-popover-card>
      <select [(ngModel)]="vaultFilter" class="select-strategy-2 left-border-box">
        <option [value]="'all'">All</option>
        <option *ngFor="let name of vaultNames | async" [value]="name">{{name}}</option>
      </select>
      <input #harvestDtoFilter class="input-less-than left-border-box" placeholder="More than..." type="number">
    </div>

    <div class="harvest-tx-header">
      <div class="harvest-tx-header-label">Date</div>
      <div class="harvest-tx-header-label">Amount</div>
      <div class="harvest-tx-header-label">Vault</div>
      <div class="harvest-tx-header-label">TVL</div>
      <div class="harvest-tx-header-label"></div>
    </div>

    <app-harvest-flow-tab [dtos]="dtos" [maxHeight]="180" [minAmount]="+harvestDtoFilter.value"
                          [vaultFilter]="vaultFilter"></app-harvest-flow-tab>

    <div class="button-container">
      <button class="show-more" (click)="openHarvestHistory()">show older</button>
    </div>
    <app-custom-modal #harvestHistoryModal>
      <ng-template>
        <app-harvest-history-dialog></app-harvest-history-dialog>
      </ng-template>
    </app-custom-modal>
  </div>
</div>
