<div id="top-div-light">
  <div class="harvest-card" [class]="vt.getThemeColor() + '-card'">
    <div class="title-row">
      <app-popover-card aria-hidden="false" aria-label="?" class="pool-title left-border-box">
        <ng-template>
          <p>Changes in Harvest vaults.</p>
          <p>Format: Date | add/remove | Amount in USD | Pool TVL</p>
        </ng-template>
        <h4 class="title">Pools</h4>
      </app-popover-card>
      <select [(ngModel)]="vaultFilter" class="select-strategy-2 left-border-box">
        <option [value]="'all'">All</option>
        <option *ngFor="let name of vaultNames" [value]="name">{{name}}</option>
      </select>
      <input #harvestDtoFilter [(ngModel)]="minAmount" class="input-less-than left-border-box" placeholder="More than..." type="number">
    </div>

    <div class="harvest-tx-header" [class]="vt.getThemeColor()">
      <div class="money-icon"><span role="img">💸</span></div>
      <div class="harvest-tx-header-label">Date</div>
      <div class="harvest-tx-header-label">Amount</div>
      <div class="harvest-tx-header-label">Vault</div>
      <div class="harvest-tx-header-label">TVL</div>
      <div class="harvest-tx-header-label"></div>
    </div>


    <div *ngIf="dtos | harvestFilter:minAmount:vaultFilter as filteredDTOs" class="harvest-trade-list">
      <div *ngFor="let dto of filteredDTOs" class="harvest-trade-item" [class]="vt.getThemeColor()">

        <div class="transaction-type">
          <span [class]="dto.methodName">{{dto.methodName}}</span>
        </div>
        <app-popover-card class="date">
          <ng-template>
            <p>{{dto.blockDateAdopted | date: 'dd-MMM hh:mm'}}</p>
            <p>{{dto.vault}}</p>
            <p>{{dto.methodName}}</p>
            <p>fAmount: {{dto.amount | number: '1.0-6'}}</p>
            <p>sharePrice: {{dto.sharePrice | number}}</p>
            <p>vault tvl: {{dto.lastTvl | number}}</p>
          </ng-template>
          {{dto.blockDateAdopted | date: 'dd-MMM hh:mm'}}

        </app-popover-card>
        <div class="amount-value">${{dto.usdAmount | number: '1.0-0'}}</div>
        <div class="vault-icon">
          <app-vault-icon [vault]="getVaultIcon(dto.vaultAddress)"></app-vault-icon>
        </div>
        <div class="tvl-amount">${{dto.lastUsdTvl | number: '1.0-0'}}
        </div>
        <div class="modal-icon">
          <app-simple-modal *ngIf="openedModal[dto.id]">
            <app-link-window (showModal)="hideTradeLinks(dto.id)" [network]="dto.network" [hash]='dto.hash'
              [owner]='dto.owner'>
            </app-link-window>
          </app-simple-modal>
          <mat-icon (click)="showTradeLinks(dto.id)" [ngStyle]="{'color': '#b5b4b4'}" aria-hidden="false"
            aria-label="Price" class="sign-icon">
            open_in_new
          </mat-icon>
        </div>
      </div>

      <div *ngIf="!filteredDTOs.length" class="empty-list">
        <span role="img">🏜️ </span>
        No Harvest trades available
        <span role="img">🏜️ </span>
      </div>
    </div>


    <div class="button-container">
      <button class="show-more" (click)="openHarvestHistory()">show older</button>
    </div>
    <app-custom-modal #harvestHistoryModal>
      <ng-template>
        <app-harvest-history-dialog></app-harvest-history-dialog>
      </ng-template>
    </app-custom-modal>
  </div>
</div>