
.trade-information {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .price-trend {
    position: relative;
    bottom: 3px;
  }
  
  .links {
    display: inline-block;
    align-items: center;
  }
  .links a {
    width: 80%;
    text-decoration: none;
    background-color: #EEBF65;
    color: black;
    position: relative;
    font-size: 12px;
    margin: 5px;
    border-radius: 5px;
    padding: 1%;
    transition: all .2s ease-out;
  }
  
  .close {
    color: black;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    /*background-color: #EEBF65;*/
    cursor: pointer;
    font-size: 1.2em;
    /*border-radius: 5px;*/
    /*font-weight: bold;*/
  }
  