footer {
  text-align: center;
  padding: 5px;
  color: white;
}

.side-menu {
  background: #6d6d69;
  height: 50%;
  /*width: 40%;*/
}


.top-menu {
  width: 100%;
}

.button-menu {
  font-size: 2em;
  margin: 5px;
  color: white;
}

.menu-content {
  min-width: 20vw;
  padding: 10px;
  /*margin-top: 30px;*/
}

.switch-button {
  width: 100%;
  margin-top: 10px;
}

.top-caption {
  width: 70%;
  text-align: center;
  font-weight: bolder;
  color: #4e4e4e;
  font-size: 0.7em;
}


