<div class="history-page">

  <div class="title">
    History for account {{this.address}}
  </div>

  <div class="title">
    TVL: {{tvl() | number: '1.0-0'}}$
  </div>

  <div class="row stat-row">
    <div *ngIf="lastFarmHold" class="stat-1 left-border-box styled-card title-card">
      🚜FARM: {{lastFarmHold.ownerBalance | number: '1.0-2'}}
      <mat-checkbox [(ngModel)]="includeFarm" (change)="sortValues()"></mat-checkbox>
    </div>
    <div *ngFor="let lpName of lps">
      <div *ngIf="lastLp.get(lpName).ownerBalanceUsd > 0" class="stat-3 left-border-box styled-card title-card">
        💰LP {{lpName}}: {{lastLp.get(lpName).ownerBalanceUsd | number: '1.0-2'}}$
        <mat-checkbox [(ngModel)]="includeLp" (change)="sortValues()"></mat-checkbox>
      </div>
    </div>

    <div *ngFor="let vaultName of vaults">
      <div *ngIf="lastStaked.get(vaultName).ownerBalanceUsd > 0" class="stat-2 left-border-box styled-card title-card">
        <img class="tvl-img" src="{{getImgUrl(vaultName)}}" alt="?"/>
        {{prettyVaultName(vaultName)}}: {{lastStaked.get(vaultName).ownerBalanceUsd | number: '1.0-2'}}$
        <mat-checkbox [(ngModel)]="includeStaked" (change)="sortValues()"></mat-checkbox>
      </div>
    </div>

  </div>

  <div style="text-align: center; font-weight: bolder; color: #4e4e4e">
    It is a beta version, data doesn't include FARM movements and rewards
  </div>

  <div *ngFor="let record of sortedData" >

    <div class="main-row">

      <div class="styled-card box-card row values">
        <div *ngIf="isHarvest(record)" style="width: 100%">
          <app-trade-box [harvestDto]="record"></app-trade-box>
        </div>

        <div *ngIf="isUni(record)" style="width: 100%">
          <app-trade-box [uniswapDto]="record"></app-trade-box>
        </div>
      </div>

    </div>

  </div>

  <div class="message" *ngIf="sortedData?.length == 0">
    Address doesn't have any operations
  </div>

  <div class="message" *ngIf="!sortedData">
    <app-loading-spinner></app-loading-spinner>
  </div>

</div>
