<div class="harvest-tx-hist" [class]="vt.getThemeColor() + '-card'" >
    <h1 class="title">Harvest Transaction History</h1>
    <div class="harvest-card">
        <div class="filters-container">
            <app-popover-card aria-hidden="false" aria-label="?" class="pool-title">
                <ng-template>
                    <p>Changes in Harvest vaults.</p>
                    <p>Format: Date | add/remove | Amount in USD | Pool TVL</p>
                </ng-template>
                <label class="strategy-selector-label" for="strategy-selector">Pools</label>
                <select (change)="handleFilterUpdate($event)" [(ngModel)]="vaultFilter" id="strategy-selector" class="strategy-selector">
                    <option [value]="''">All</option>
                    <option *ngFor="let name of tvlNames" [value]="name">{{name}}</option>
                </select>
            </app-popover-card>
            <input (change)="handleFilterUpdate($event)" [(ngModel)]="minAmount" #harvestDtoFilter class="more-than-input" placeholder="More than..." type="number" min="0">
        </div>
      
        <app-harvest-flow-tab [dtos]="paginated_dtos.data" [showFullDate]=true></app-harvest-flow-tab>
        <div class="paginator-area">
            <app-paginator (selectPage)="selectPage($event)" (nextPage)="nextPage($event)" (previousPage)="previousPage($event)" [pageObject]="paginated_dtos"></app-paginator>
        </div>
    </div>
</div>
