.main-row {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.row:hover {
  animation-play-state: paused
}

.value-card {
  transition: 0.3s;
  /*margin: 10px;*/
  padding: 3px;
  /*display: inline-block;*/
  margin: 0 3px 10px;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
  margin-right: 5px;
}

.first {
  display: flex;
  animation: marquee 50s linear infinite;
  animation-delay: -10s; /* for immediate appear */
  animation-play-state: inherit;
}

.second {
  display: flex;
  animation: marquee2 50s linear infinite;
  animation-delay: 15s; /* starts at half of first animation */
  animation-play-state: inherit;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}