<div (click)="toggleMenu()" *ngIf="showSideMenu" id="side-menu-backdrop"></div>
<button id="menu-button-toggle" (click)="toggleMenu()"><i class="fas fa-bars"></i></button>
<div [@openMenu]="showSideMenu ? 'open' : 'closed'" id="main-side-menu" [class]="viewTypeService.getThemeColor() + '-card'">
    <div class="main-side-menu-logo-container">
        <div class="branding-box">
            <img class="main-side-menu-logo" src="/assets/harvest_logo.png" alt="Harvest Logo">
            <h4 class="main-side-menu-logo-text">Harvest</h4>
        </div>

        <div class="dark-mode-toggle-container">
            <input [checked]="isDarkTheme" type="checkbox" name="darkmode toggle" id="dark-mode-toggle-checkbox">
            <label title="Switch Theme" (click)="toggleTheme()"  for="dark-mode-toggle-checkbox" class="dark-mode-toggle-label"></label>
        </div>

    </div>

    <ul class="main-side-menu-items">
        <li (click)="openAllStatsDialog()" data-menu-icon="📈" class="main-side-menu-item">Full Strategies Info</li>
        <app-custom-modal #allStatsDialog>
            <ng-template >
                <app-all-stats-dialog></app-all-stats-dialog>
            </ng-template>
        </app-custom-modal>

        <li (click)="openTvlDialog()" data-menu-icon="🕐" class="main-side-menu-item">TVL History Info</li>
        <app-custom-modal #tvlDialog>
            <ng-template >
                <app-tvl-dialog [data]="{type: 'PS'}"></app-tvl-dialog>
            </ng-template>
        </app-custom-modal>
        
        <li (click)="openIncomeDialog()" data-menu-icon="💸" class="main-side-menu-item">Income History Info</li>
        <app-custom-modal #incomeDialog>
            <ng-template >
                <app-tvl-dialog [data]="{type: 'income'}"></app-tvl-dialog>
            </ng-template>
        </app-custom-modal>
        
        <li (click)="openPsApyDialog()" data-menu-icon="📅" class="main-side-menu-item">PS APY History</li>
        <app-custom-modal #psApyDialog>
            <ng-template >
                <app-rewards-dialog [data]="{title: 'PS APY History'}"></app-rewards-dialog>
            </ng-template>
        </app-custom-modal>
        <li (click)="openWeeklyProfitDialog()" data-menu-icon="🔒" class="main-side-menu-item">Weekly Profit History</li>
        <app-custom-modal #weeklyProfitDialog>
            <ng-template >
                <app-profit-dialog [data]="{title: 'Weekly profit history chart'}"></app-profit-dialog>
            </ng-template>
        </app-custom-modal>

        <li (click)="openFarmBuybacksDialog()" data-menu-icon="📥" class="main-side-menu-item">FARM Buybacks</li>
        <app-custom-modal #farmBuybackDialog>
            <ng-template >
                <app-farm-buybacks-dialog [data]="{title: 'FARM Buyback history chart'}"></app-farm-buybacks-dialog>
            </ng-template>
        </app-custom-modal>
        <li (click)="openSavedFeesDialog()" data-menu-icon="🛡️" class="main-side-menu-item">Saved Gas Fees</li>
        <app-custom-modal #savedFeesDialog>
            <ng-template >
                <app-hard-work-history-dialog [data]="{title: 'Saved Gas Fees History'}"></app-hard-work-history-dialog>
            </ng-template>
        </app-custom-modal>
        
        <li (click)="openDownloadHistoricDataDialog()" data-menu-icon="🗄️" class="main-side-menu-item">Download</li>
        <app-custom-modal #downloadHistoricDataDialog>
            <ng-template >
                <app-download-historic-data-dialog [data]="{title: 'Download Historic Data'}"></app-download-historic-data-dialog>
            </ng-template>
        </app-custom-modal>

        <li (click)="openUserBalances()" data-menu-icon="👨‍👨‍👦‍👦" class="main-side-menu-item">Users Balances</li>
        <app-custom-modal #userBalancesDialog>
        <ng-template >
                <app-user-balances-dialog [data]="{title: 'User Balances'}"></app-user-balances-dialog>
            </ng-template>
        </app-custom-modal>
    </ul>


    <nav class="botton-social-icons ">
        <a class="social-link" href="https://twitter.com/harvest_finance"><i class="fab fa-twitter"></i></a>
        <a class="social-link" href="https://discord.gg/R5SeTVR"><i class="fab fa-discord"></i></a>
        <a class="social-link" href="https://medium.com/harvest-finance"><i class="fab fa-medium"></i></a>
        <a class="social-link" href="https://www.reddit.com/r/HarvestFinance/"><i class="fab fa-reddit-square"></i></a>
    </nav>

    <div class="scoreboard-switch-container" [class]="viewTypeService.getThemeColor() + '-card'">
        <a (click)="viewTypeService.toggleTheme()" href="#">Switch To Scoreboard</a>
    </div>
</div>
