@charset "UTF-8";
#side-menu-backdrop {
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 9999;
  cursor: pointer;
}

#menu-button-toggle {
  cursor: pointer;
  border: none;
  font-size: 24px;
  background: none;
  margin-left: 5px;
  outline: none;
}

#main-side-menu {
  width: 100%;
  max-width: 275px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  min-height: 100vh;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #363636;
  display: flex;
  flex-direction: column;
}
#main-side-menu.dark {
  background: #363661;
}
#main-side-menu.dark * {
  color: white !important;
}
#main-side-menu .main-side-menu-logo-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
}
#main-side-menu .main-side-menu-logo-container .branding-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#main-side-menu .main-side-menu-logo-container .main-side-menu-logo {
  height: 60px;
  border-radius: 15px;
}
#main-side-menu .main-side-menu-logo-container .main-side-menu-logo-text {
  font-size: 20px;
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
}
#main-side-menu .main-side-menu-logo-container .dark-mode-toggle-container .dark-mode-toggle-label {
  height: 35px;
  width: 70px;
  background: url("/assets/darkmode-toggle-background.jpg") 0% 4%;
  display: block;
  border-radius: 20px;
  position: relative;
  transition: background 0.5s;
  cursor: pointer;
}
#main-side-menu .main-side-menu-logo-container .dark-mode-toggle-container .dark-mode-toggle-label::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "☀️";
  height: 33px;
  width: 33px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
#main-side-menu .main-side-menu-logo-container .dark-mode-toggle-container #dark-mode-toggle-checkbox {
  display: none;
}
#main-side-menu .main-side-menu-logo-container .dark-mode-toggle-container #dark-mode-toggle-checkbox:checked ~ .dark-mode-toggle-label {
  background: url("/assets/darkmode-toggle-background.jpg") 100% 93%;
}
#main-side-menu .main-side-menu-logo-container .dark-mode-toggle-container #dark-mode-toggle-checkbox:checked ~ .dark-mode-toggle-label::after {
  left: 50%;
  content: "🌙";
}
#main-side-menu .main-side-menu-items {
  all: unset;
  padding: 20px;
  display: block;
  box-sizing: border-box;
  list-style: none;
}
#main-side-menu .main-side-menu-items .main-side-menu-item {
  margin: 40px 0;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: margin 0.5s;
}
#main-side-menu .main-side-menu-items .main-side-menu-item:hover {
  margin-left: 10px;
}
#main-side-menu .main-side-menu-items .main-side-menu-item::before {
  font-family: "Font Awesome 5 Free";
  content: attr(data-menu-icon);
  margin: 0 10px;
}
#main-side-menu .botton-social-icons {
  display: flex;
  justify-content: space-evenly;
}
#main-side-menu .botton-social-icons .social-link i {
  color: #363636;
  font-size: 34px;
}
#main-side-menu .botton-social-icons .social-link i:hover {
  color: #434343;
}

/*# sourceMappingURL=main-side-menu.component.css.map */
