.uni-trades {
  display: grid;
  position: relative;
  grid-template-columns: 2fr .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
}

.trade-field {
  font-weight: bolder;
  display: inline-block;
  min-height: 30px;
  text-align: center;
}

.trade-date {
  font-size: 0.9em;
}

.trade-type {
}

.trade-amount {
}

.trade-coin {
  font-size: 0.7em;
}

.trade-other-amount {
  
}

.trade-other-coin {
  font-size: 0.7em;
}

.trade-sign {
  font-size: 0.9em;
}

.trade-price{
}

.sign-icon {
  font-size: 0.9em;
}
.pointer:hover {
  z-index: 900;
}

@media(max-width: 1100px) {
  .uni-trades {
    margin: 10px 0;
    
  }
}

