.price-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fffce6;
  margin: 10px 10px 10px 10px;
  padding: 3px;
  height: 300px;
}

.grain-chart, .farm-chart {
  width: 100%;
}

.selector {
  margin: 15px;
  position: absolute;
  z-index: 999;
}
