<div class="price-chart-card">

  <div class="header">
    <div>
      <select [(ngModel)]="showChart" class="select-strategy-2 left-border-box" (ngModelChange)="updateSelectedData(null)">
        <option *ngFor="let name of charts" [value]="name">{{name}}</option>
      </select>
    </div>

    <ohlc-bar [data]="selectedData"></ohlc-bar>
  </div>

  <div *ngIf="showChart === 'GRAIN'" id="grain" class="grain-chart left-border-box">
    <div class="price-card" [class]="vt.getThemeColor() + '-card'">
      <app-grain-chart (onCrosshairMove)="updateSelectedData($event)"></app-grain-chart>
    </div>
  </div>

  <div *ngIf="showChart === 'FARM'" id="farm" class="farm-chart left-border-box">
    <div class="price-card" [class]="vt.getThemeColor() + '-card'">
      <app-farm-chart (onCrosshairMove)="updateSelectedData($event)"></app-farm-chart>
    </div>
  </div>

</div>
