<div *ngIf="transferDto" id="tr">

  <div class="head-row-tr">

    <div class="head title-col">
      &nbsp;
    </div>

    <div class="head amount date-col">
      Date
    </div>

    <div class="head trend-col">
      Type
    </div>

    <div class="head amount amount-col">
      Amount
    </div>

    <div class="head amount amount-col">
      USD Amount
    </div>

    <div class="head coin-col">
      Other Side
    </div>

    <div class="head other-coin-col">
      Price
    </div>

    <div class="head amount price-coll">
      Profit
    </div>

    <div class="head amount balance-coll">
      Balance
    </div>

    <div class="head pointer link-col">
      &nbsp;
    </div>

  </div>

  <div [style]=" 'color: ' + getColor()" class="main-row-tr">

    <div class="value title-col">
      {{getTitle}}
    </div>

    <div #tooltip="matTooltip" class="value amount date-col"
         matTooltip="{{transferDto.blockDateAdopted | date: 'dd.MM.yyyy HH:mm:ss'}}">
      {{transferDto.blockDateAdopted | date: 'dd MMM'}}
    </div>

    <div class="value trend-col">
      {{prettyType()}}
    </div>

    <div class="value amount amount-col">
      {{transferDto.value | number: '1.0-2'}}
      <text class="coin-sign">FARM</text>
    </div>

    <div class="value amount amount-col">
      {{transferDto.value * transferDto.price | number: '1.0-2'}}
      <text class="coin-sign">$</text>
    </div>

    <div class="value coin-col"
         matTooltip="{{otherSideAddress}}">
      {{otherSideName}}
      <app-vault-icon *ngIf="!otherSideName?.startsWith('0x')" [vault]="otherSideName"></app-vault-icon>
    </div>

    <div class="value amount price-coll">
      {{transferDto.price| number: '1.0-2'}}
      <text class="coin-sign">$</text>
    </div>

    <div class="value other-coin-col"
         matTooltip="{{transferDto.profit | number: '1.0-2'}} FARM">
      {{!transferDto.profitUsd ? 0 : transferDto.profitUsd | number: '1.0-2'}}
      <text class="coin-sign">$</text>
    </div>

    <div class="value amount balance-coll">
      {{transferBalance(transferDto)| number: '1.0-2'}}
      <text class="coin-sign">FARM</text>
    </div>

    <app-transaction-link [transactionHash]="transferDto.id.split('_')[0]"></app-transaction-link>

  </div>

</div>

<!-- ****************************************************************************  -->


<div *ngIf="harvestDto" id="harvest">

  <div class="head-row-hv">

    <div class="head title-col">
      &nbsp;
    </div>

    <div class="head amount date-col">
      Date
    </div>

    <div class="head trend-col">
      Type
    </div>

    <div class="head amount usd-amount-col">
      Amount
    </div>

    <div class="head amount usd-amount-col">
      USD Amount
    </div>

    <div class="head vault-col">
      Pool
    </div>

    <div class="head amount price-coll">
      TVL
    </div>

    <div class="head amount balance-coll">
      Profit
    </div>

    <div class="head amount balance-coll">
      Balance USD
    </div>

    <div class="head pointer link-col">
      &nbsp;
    </div>

  </div>


  <div [style]=" 'color: ' + getColor()" class="main-row-hv">

    <div class="value title-col">
      {{getTitle}}
    </div>

    <div #tooltip="matTooltip" class="value date-col"
         matTooltip="{{harvestDto.blockDateAdopted | date: 'dd.MM.yyyy HH:mm:ss'}}">
      {{harvestDto.blockDateAdopted | date: 'dd MMM'}}
    </div>

    <div class="value trend-col">
      {{harvestDto.methodName}}
    </div>

    <div class="value usd-amount-col"
         matTooltip="{{harvestDto.amount| number: '1.0-8'}}">
      {{harvestDto.amount  | number: '1.0-2'}}
    </div>

    <div class="value usd-amount-col">
      {{harvestDto.usdAmount  | number: '1.0-0'}}
      <text class="coin-sign">$</text>
    </div>

    <div class="value vault-col">
      {{harvestDto.vault}}
      <app-vault-icon [vault]="harvestDto.vault"></app-vault-icon>
    </div>

    <div class="value price-coll">
      {{harvestDto.lastUsdTvl / 1000000 | number: '1.0-0'}}
      <text class="coin-sign">M$</text>
    </div>

    <div class="value amount balance-coll"
         matTooltip="{{harvestDto.profit| number: '1.0-8'}}">
      {{harvestDto.profitUsd | number: '1.0-0'}}
      <text *ngIf="harvestDto.profit" class="coin-sign">$</text>
    </div>

    <div class="value other-coin-col"
         matTooltip="{{harvestDto.ownerBalance | number: '1.0-8'}}">
      {{harvestDto.ownerBalanceUsd | number: '1.0-0'}}
      <text class="coin-sign">$</text>
    </div>

    <app-transaction-link [transactionHash]="harvestDto.hash"></app-transaction-link>

  </div>

</div>
