@import "themes/theme-mixins";

$dark-background-color: #111111;

.title-wrapper {
  height: 57px;
  margin: 0 0 0 10px;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  font-size: 36px;
  font-weight: 700;

  &__lael {
    margin: auto auto auto 0;
  }
}

.disclaimer {
  margin: 0 0 30px 10px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}

.container {
  min-height: 718px;
  margin-left: 10px;
  padding: 35px 40px 35px 40px;
  border-radius: 10px;
  position: relative;
}

.table-header {
  padding: 14px 10px 14px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;

  &__field {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
  }
}

.scroller {
  max-height: 718px;
  overflow: auto;
  padding-right: 10px;
}

.values {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  border-bottom: 1px solid #F0F0F0;
  padding: 14px 10px 14px 0;

  &__field {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 0 12px;
  }
}

.field-num {
  padding-right: 12px;
  min-width: 65px;
  text-align: right;
}

.field-address {
  min-width: 380px;
}

.field-value {
  min-width: 200px;
  padding: 0 12px;
}

.field-links {
  min-width: 300px;
}

.table-link-badge {
  position: relative;
  margin: 5px;
  padding: 4px 7px;
  text-decoration: none;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  white-space: nowrap;
  transition: all .2s ease-out;
}


