@import "../../../../../scss/utilities/utilities";

.hardWork-list-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  width: 90vw;

  @include responsive(small) {
    width: 100%;
  }

  .title {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }


  .network-toggle {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;

    .network-input {
      display: none;

      &:checked ~ .network-label {
        &.dark {
          background: #696969;
        }

        &.light {
          background: #fff9cd;

        }
      }
    }

    .network-label {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      border-radius: 14px;
      margin: 0 5px;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid #848484;


      .networi-icon {
        width: 15px;
        height: 15px;
        object-fit: contain;
      }
    }
  }


  .fields-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    .strategy-select-field, .less-than-filter-field {
      outline: 0;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #cdcdcd;
      padding: 5px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

}

