@import "../../../../../scss/utilities/utilities";

.hardWork-list-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
  padding: 30px 43px;
  border-radius: 10px;

  @include responsive(small) {
    width: 100%;
  }

  .title {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 12px;
  }


  .network-toggle {
    display: flex;
    margin: 10px 0;

    .icon-wrapper {
      display: inline-flex;
      background: #5CADAA;
      border: none;
      border-radius: 10px;
      min-width: 38px;
      height: 38px;
      img {
        margin: auto;
      }
    }
    span {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
      color: #567B7A;;
    }
    .network-input {
      display: none;

      &:checked ~ .network-label {
        background: #FFFFFF;
        .icon-wrapper {
          background: #FFFFFF;
        }
        &.dark {
          background: #5CADAA;
          span {
            color: #FFFFFF;
          }
        }

        &.light {
          background: #5CADAA;
          span {
            color: #FFFFFF;
          }
        }
      }
    }

    .network-label {
      background: #EAF6F6;
      min-width: 97px;
      display: inline-flex;
      align-items: center;
      padding: 4px;
      border-radius: 14px;
      margin: 0 10px 0 0;
      text-transform: uppercase;
      cursor: pointer;

      .networi-icon {
        width: 15px;
        height: 15px;
        object-fit: contain;
      }
    }

    .network-label.dark {
      background: #3D4848;

      span {
        color: #FFFFFF;
      }
    }

    .network-label.light {
      background: #EAF6F6;
      span {
        color: #567B7A;
      }
    }
  }


  .fields-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 0 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    .strategy-select-field,
    .less-than-filter-field {
      height: 25px;
      padding: 0.1em;
      box-sizing: border-box;
      border-radius: 0.25em;
      outline: none;
    }

    .filters {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      margin: auto 0;

      select {
        height: 46px;
        padding: 12px 18px;
        border-radius: 10px;
        cursor: pointer;
        border-left: none;
        border-top: none;
        border-bottom: none;
        max-width: 50%;
      }
      input {
        height: 46px;
        padding: 12px 18px;
        cursor: pointer;
        border: 1px solid #CFE2E2;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
      }
    }
  }

}

.hardWork-list-history.showMoreColumns {
  max-width: 800px;
}

