<table class="main-table" style="width: 100%; vertical-align: top; min-height: 100%;">
  <tr>
    <td colspan="2" style="width: 100%; padding: 0;">
      <table class="price-and-plot-table" style="width: 100%;">
        <tr>
          <td colspan="2">
            <app-dashboard-last-values></app-dashboard-last-values>
          </td>
        </tr>
        <tr>
          <td style="width: 20%; vertical-align: top;">
            <app-strategy-list></app-strategy-list>
          </td>
          <td style="width: 80%;">
            <div style="width: 100%">
              <app-farm-chart></app-farm-chart>
            </div>
          </td>
        </tr>
      </table>


    </td>
  </tr>
  <tr style="vertical-align: top;">


    <td style="width: 50%;">
      <app-uni-tx></app-uni-tx>
    </td>

    <td style="width: 50%;">
      <app-harvest-tx></app-harvest-tx>
    </td>

  </tr>

  <tr>
    <td colspan="2">
      <app-main-footer></app-main-footer>
    </td>
  </tr>
</table>
