<div class="cover">
    <div class="container">
        <div class="grid-sheet">
            <div class="title">
            </div>
            <div class="charts-block">
                <div class="chart-block">
                    <app-echart [title]="title1"
                                [chartName]="chartName1"
                                [selectedValue]="tvlSelectedValue"
                                [valueSymbol]="valueSymbol1"
                                [selectedDate]="tvlSelectedDate"
                                [options]="options1"
                                [data]="data1"></app-echart>
                </div>
                <div class="chart-block">
                    <app-echart [title]="title2"
                                [chartName]="chartName2"
                                [selectedValue]="profitSelectedValue"
                                [valueSymbol]="valueSymbol2"
                                [selectedDate]="profitSelectedDate"
                                [options]="options2"
                                [data]="data2"></app-echart>
                </div>
            </div>
            <div class="last-data-container">
                <div class="left-part">
                    <div class="change-percent">
                        <span  class="label">Change in % (24h)</span>
                        <span class="value">
                            <span *ngIf="minus2" style="color: red">{{'&#10549;'}}</span>
                            <span *ngIf="!minus2" style="color: green">{{'&#10548;'}}</span>
                            {{ changesTvlInPercent}} %
                        </span>
                    </div>
                    <div class="change-amount">
                        <span  class="label">Change in $ (24h)</span>
                        <span class="value">
                            <span  class="symbol">{{ minus2 ? '-' : '+' }}</span>
                            ${{ changesTvlInAmount }}
                        </span>
                    </div>
                </div>
                <div class="right-part">
                    <div class="change-percent">
                        <span class="label">Change in % (24h)</span>
                        <span class="value">
                            <span *ngIf="minus1" style="color: red">{{'&#10549;'}}</span>
                            <span *ngIf="!minus1" style="color: green">{{'&#10548;'}}</span>
                            {{ changesVolumeInPercent}} %
                        </span>
                    </div>
                    <div class="change-amount">
                        <span class="label">Change in $ (24h)</span>
                        <span class="value">
                            <span class="symbol">{{ minus1 ? '-' : '+' }}</span>
                            ${{ changesVolumeInAmount }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>