<div class="cover" [class]="vt.getThemeColor()">
    <div class="container">
        <div class="grid-sheet">
            <div class="title">
                Network: {{ vaultNetwork }}
                <br>
                Vault: {{ vaultAddress }}
            </div>
            <div class="charts-block">
                <div class="chart-block">
                    <app-echart [title]="title1"
                                [chartName]="chartName1"
                                [selectedValue]="tvlSelectedValue"
                                [selectedDate]="tvlSelectedDate"
                                [valueSymbol]="valueSymbol1"
                                [options]="options1"
                                [data]="vaultDataTVL"></app-echart>
                </div>
                <div class="chart-block">
                    <app-echart [title]="title2"
                                [chartName]="chartName2"
                                [selectedValue]="profitSelectedValue"
                                [selectedDate]="profitSelectedDate"
                                [valueSymbol]="valueSymbol2"
                                [options]="options2"
                                [data]="vaultDataProfit"></app-echart>
                </div>
            </div>
            <div class="last-data-container">
                <div class="left-part">
                    <div class="change-percent">
                        <span  class="label">Change in % (24h)</span>
                        <span class="value">
                            <span *ngIf="minus1" style="color: red">{{'&#10549;'}}</span>
                            <span *ngIf="!minus1" style="color: green">{{'&#10548;'}}</span>
                            {{ changesTvlInPercent}} %
                        </span>
                    </div>
                    <div class="change-amount">
                        <span  class="label">Change in $ (24h)</span>
                        <span class="value">
                            <span  class="symbol">{{ minus1 ? '-' : '+' }}</span>
                            ${{ changesTvlInAmount }}
                        </span>
                    </div>
                </div>
                <div class="right-part">
                    <div class="change-percent">
                        <span class="label">Change in % (24h)</span>
                        <span class="value">
                            <span *ngIf="minus2" style="color: red">{{'&#10549;'}}</span>
                            <span *ngIf="!minus2" style="color: green">{{'&#10548;'}}</span>
                            {{ changesVolumeInPercent}} %
                        </span>
                    </div>
                    <div class="change-amount">
                        <span class="label">Change in $ (24h)</span>
                        <span class="value">
                            <span class="symbol">{{ minus2 ? '-' : '+' }}</span>
                            ${{ changesVolumeInAmount }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="title">
                Total
            </div>
            <div class="charts-block">
                <div class="chart-block">
                    <app-echart [title]="title3"
                                [chartName]="chartName3"
                                [selectedValue]="tvlTotalSelectedValue"
                                [selectedDate]="tvlTotalSelectedDate"
                                [valueSymbol]="valueSymbol3"
                                [options]="options3"
                                [data]="totalDataTVL"></app-echart>
                </div>
                <div class="chart-block">
                    <app-echart [title]="title4"
                                [chartName]="chartName4"
                                [selectedValue]="profitTotalSelectedValue"
                                [selectedDate]="profitTotalSelectedDate"
                                [valueSymbol]="valueSymbol4"
                                [options]="options4"
                                [data]="totalDataProfit"></app-echart>
                </div>
            </div>
            <div class="last-data-container">
                <div class="left-part">
                    <div class="change-percent">
                        <span  class="label">Change in % (24h)</span>
                        <span class="value">
                            <span *ngIf="minus3" style="color: red">{{'&#10549;'}}</span>
                            <span *ngIf="!minus3" style="color: green">{{'&#10548;'}}</span>
                            {{ changesTvlTotalInPercent}} %
                        </span>
                    </div>
                    <div class="change-amount">
                        <span  class="label">Change in $ (24h)</span>
                        <span class="value">
                            <span  class="symbol">{{ minus3 ? '-' : '+' }}</span>
                            ${{ changesTvlTotalInAmount }}
                        </span>
                    </div>
                </div>
                <div class="right-part">
                    <div class="change-percent">
                        <span class="label">Change in % (1 month)</span>
                        <span class="value">
                            <span *ngIf="minus4" style="color: red">{{'&#10549;'}}</span>
                            <span *ngIf="!minus4" style="color: green">{{'&#10548;'}}</span>
                            {{ changesProfitTotalInPercent }} %
                        </span>
                    </div>
                    <div class="change-amount">
                        <span class="label">Change in $ (1 month)</span>
                        <span class="value">
                            <span class="symbol">{{ minus4 ? '-' : '+' }}</span>
                            ${{ changesProfitTotalInAmount}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="last-data-container">
                <div class="left-part">
                    <div class="total-earned">
                        <div class="title">
                            <span class="label">Total Earned</span>
                            <span class="label">USDT-UST</span>
                        </div>
                        <div>
                             <span class="value">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="right-part">
                    <div class="total-earned">
                        <div class="title">
                            <span class="label">Gas Saved</span>
                            <span class="label">USDT-UST</span>
                        </div>
                        <div>
                            <span class="value">
                              ${{ gasSaved }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
