<perfect-scrollbar [ngStyle]="{'maxHeight': maxHeight+'px'}" class="scroller">

  <container-element [ngSwitch]="vt.getViewType()">

    <div *ngSwitchCase="'v2'">

      <div *ngFor="let dto of dtos | uniswapFilter:minAmount" class="trade-row">
        <app-uni-trade [dto]="dto"></app-uni-trade>
      </div>

    </div>


    <table *ngSwitchDefault class="flow-tab-table">

      <tr (click)="openEthersacanTx(dto.hash)"
          *ngFor="let dto of dtos | uniswapFilter:minAmount"
          [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
          class="flow-tab-tr"
      >
        <td class="flow-tab-td">
          <p #tooltip="matTooltip"
             class="uni-price"
             matTooltip="{{dto.blockDateAdopted | date: 'dd.MM.yyyy HH:mm:ss'}}
                    FARM: {{dto.amount | number}}
                    Other coin: {{dto.otherAmount | number}}
                    Price: {{dto.lastPrice | number}}
                    Last gas: {{dto.lastGas | number}}"
             matTooltipClass="tooltip-spaced">
            {{dto.blockDateAdopted | date: 'HH:mm:ss'}}
          </p>
        </td>

        <td class="flow-tab-td">
          <container-element [ngSwitch]="dto.type">
            <mat-icon *ngSwitchCase="'BUY'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
                      aria-hidden="false"
                      aria-label="BUY">trending_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'SELL'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
                      aria-hidden="false"
                      aria-label="SELL">trending_down
            </mat-icon>
            <mat-icon *ngSwitchCase="'ADD'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
                      aria-hidden="false"
                      aria-label="ADD_LIQ">import_export
            </mat-icon>
            <mat-icon *ngSwitchCase="'REM'" [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
                      aria-hidden="false"
                      aria-label="ADD_LIQ">import_export
            </mat-icon>
            <mat-icon *ngSwitchDefault [ngStyle]="{'color': priceGradient(dto.type, dto.amount, dto.confirmed)}"
                      aria-hidden="false"
                      aria-label="?">help
            </mat-icon>
          </container-element>
        </td>

        <td class="flow-tab-td">
          <b class="uni-amount">
            {{dto.amount | number: '1.0-0'}}
          </b>
          <text class="uni-coin"> {{dto.coin}}</text>
        </td>
        <td class="flow-tab-td">
          <b class="uni-other-amount">
            {{dto.otherAmount | number: '1.0-0'}}
          </b>
          <text class="uni-other-coin"> {{dto.otherCoin}}</text>
        </td>

        <!-- https://raw.githubusercontent.com/saqy/angular-packages/master/projects/angular-emojis/src/lib/emoji.json -->
        <td class="flow-tab-td">
          <container-element [ngSwitch]="checkImportantOwner(dto.owner)">
            <mat-icon *ngSwitchCase="'normal'" [ngStyle]="{'color': '#514f4f'}" aria-hidden="false" aria-label="Price">
              forward
            </mat-icon>
            <mat-icon *ngSwitchCase="'devs'" [ngStyle]="{'color': '#c4ad58'}" aria-hidden="false" aria-label="Price">
              warning
            </mat-icon>
            <angular-emojis *ngSwitchCase="'doHardWork'" [name]="'tractor'" class="do-hard-work-img"
                            size="20"></angular-emojis>
          </container-element>
        </td>

        <td class="flow-tab-td">
          <container-element [ngSwitch]="dto.confirmed">
            <mat-icon *ngSwitchCase="false" [ngStyle]="{'color': '#514f4f'}" aria-hidden="false" aria-label="Not valid">
              highlight_off
            </mat-icon>
            <b *ngSwitchCase="true" class="last-price-text">{{dto.lastPrice}}</b>
          </container-element>

        </td>

      </tr>

    </table>

  </container-element>

</perfect-scrollbar>
