<div class="hardWork-list-history">
    <h1 class="title">Hard Work History</h1>
    <div class="hardwork-headers">
        <h3 class="hardwork-header">Date</h3>
        <h3 class="hardwork-header">Share Change</h3>
        <h3 class="hardwork-header">Vault</h3>
        <h3 class="hardwork-header">Tvl</h3>
        <h3 class="hardwork-header">PS APR</h3>
        <h3 class="hardwork-header">Weekly Profit</h3>
        <h3 class="hardwork-header">All Profit</h3>
        <h3 class="hardwork-header">Farm Buyback</h3>
        <h3 class="hardwork-header">Gas Saved</h3>
        <h3 class="hardwork-header">Pool Users</h3>
    </div>
    <app-hardwork-flow-tab [dtos]="dtos" ></app-hardwork-flow-tab>
</div>