<div *ngIf="vt.isNonScoreboard()" id="top-div-light" class="row tvl-row">
  <div *ngIf="tvlName === null">
    <div class="left-border-box tvl-name first-row-name">
      {{name}}
    </div>
    <div #tooltip="matTooltip"
         class="left-border-box tvl-value first-row-title" matTooltip="Total Value Locked">
      TVL M$
    </div>

    <div #tooltip="matTooltip"
         class="left-border-box farm-apy-value first-row-title" matTooltip="APY with daily restake period">
      APY %
    </div>
  </div>

  <div *ngIf="tvlName !== null">

    <div class="left-border-box tvl-name">
      <img alt="?" class="tvl-img" src="{{getImgSrc(tvlName)}}"/>
      {{vaultPrettyName(tvlName)}}
    </div>

    <div #tooltip="matTooltip"
         (click)="openTvlDialog()"
         [ngStyle]="{'color': tvlValueGradient(tvlName)}" class="left-border-box tvl-value pointer" matTooltip="
           TVL: {{tvls.get(tvlName) | number}}$
           Click to open TVL history chart"
         matTooltipClass="tooltip-spaced">
      {{tvls.get(tvlName) / 1000000 | number: '1.0-1'}}
    </div>

    <!--    (click)="openIncomeDialog(tvlName)" -->
    <div class="left-border-box farm-apy-value">
      <app-draggable-modal class="apy-modal" *ngIf="openApyDetails">
        <app-apy-window (showModal)="hideApyDetails($event)" [poolName]="tvlName"></app-apy-window>
      </app-draggable-modal>
      <div class="pointer" (click)="openApyDetailsWindow()" matTooltip="
           APR: {{vaultFullApr(tvlName)}}%
           Click to open details"
           matTooltipClass="tooltip-spaced">
        {{vaultFullApy(tvlName)}}
      </div>
    </div>

  </div>
</div>


<table *ngIf="!vt.isNonScoreboard()" id="top-div-scoreboard">
  <tr>
    <td style="min-width: 170px;">
      <img (click)="openTvlDialog()" alt="?" class="pointer"
           src="{{getImgSrc(tvlName)}}" style="width: 15px; height: 15px; margin-right: 5px;"/>
      <span class="tvl-caption" style="font-size: 1em; margin-right: 5px;">{{tvlName}}</span>
    </td>
    <td>
      <span class="tvl-caption"
            style="font-size: 1.2em;"><b>{{tvls.get(tvlName) / 1000000 | number: '1.0-1'}}</b></span>
      <span style="font-size: 0.8em;">M</span>
    </td>
  </tr>
</table>


