.title {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  width: 100vw;
  max-width: 700px;
}

.tvl-img {
  width: 15px;
  height: 15px;
}

.headers, .values  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
}

.header-field {
  /*text-align: center;*/
  padding: 3px;
  font-size: 1em;
  font-weight: bold;
}

.value-field {
  /*text-align: center;*/
  padding: 3px;
  font-size: 0.9em;
  font-weight: bolder;
}

.scroller {
  overflow-y: scroll;
  max-height: 80vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }

  ::ng-deep.mat-dialog-container {
    border-radius: 1px;
    padding: 5px !important;
  }
}
