.title {
  font-size: 1.5em;
  padding: 10px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  max-width: 800px;
  width: 100vw;
}

.chart {
  min-height: 70vh;
}


@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }
}


