.harvest2-row {
  margin-bottom: 2px;
}

.harvest-trades {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr .5fr 3fr .5fr 3fr .5fr ;
}

.harvest-field {
  font-weight: bolder;
  display: inline-block;
  min-height: 30px;
  text-align: center;
}

.harvest2-date {
  font-size: 0.9em;
}

.harvest2-type {
}

.harvest2-amount {
}

.harvest2-vault {
}

.harvest2-tvl {
}

.harvest2-sign {
}

.sign-icon {
  font-size: 0.9em;
}

.tvl-img {
  width: 15px;
  height: 15px;
  
}

/*------------------------- old *------------------------*/


/* .harvest-date {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.harvest-amount {
  font-size: .9em;
}

.harvest-vault {
  font-size: 0.9em;
}

.harvest-tvl {
  font-size: 0.9em;
} */
