<div *ngIf="ready === true; then readyBlock else loadingBlock"></div>

<ng-template #loadingBlock>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #readyBlock>


  <div *ngIf="vt.isNonScoreboard()" id="top-div-light" class="dialog-card" [class]="vt.getThemeColor() + '-card'">

    <div *ngIf="data.type === 'income'">
      <div class="title">
        PS income history
      </div>
      <div #chart class="tvl-chart"></div>
    </div>

    <div *ngIf="data.type !== 'income'">
      <div class="title">
        {{data.type == 'All' ? 'All pools' : data.type + ' pool'}} history
      </div>
      <div #chart class="tvl-chart"></div>
    </div>

  </div>

  <div *ngIf="!vt.isNonScoreboard()" id="top-div-scoreboard">
    <span class="flex-container" style="font-size: 2em; color: #a09c9c; margin-bottom: 10px;">{{data.type}} TVL history and Accounts with positive balances</span>
    <div #chart style="width: 1000px;"></div>
  </div>

</ng-template>

