<div class="custom-table" [class]="vt.getThemeColor() + '-card'">
  <div class="strategy-list-filter-box">

    <select [(ngModel)]="networkFilter" name="" id="networkFilter">
      <option value="">Network</option>
      <option value="eth">Ethereum</option>
      <option value="bsc">Binance</option>
    </select>

    <select [(ngModel)]="platformFilter" name="" id="platformFilter">
      <option value="">Platform</option>
      <option *ngFor="let platform of platform_list" [value]="platform.prefix">{{platform.name}}</option>
    </select>

    <select [(ngModel)]="assetFilter" name="" id="assetFilter">
      <option value="">Asset</option>
      <option *ngFor="let asset of assetList" [value]="asset">{{asset}}</option>

    </select>

    <div class="quantity">
      Total: {{vaultsList.length}}
    </div>

    <input [(ngModel)]="searchTerm" placeholder="Search" type="search" name="vaults-search" id="vaults-search">

  </div>

  <!--  ******** HEADERS ************** -->

  <div class="header">
    <div class="header-column desktop-only">
      Network <i class="fas fa-sort"></i>
    </div>

    <div (click)="sortVaultsList('name')" class="header-column">
      Name <i class="fas fa-sort"></i>
    </div>

    <app-popover-card (click)="sortVaultsList('apy')" class="header-column">
      <ng-template>
        <p>APY with daily restake period</p>
        <i class="fa fa-bolt" style="color: goldenrod"></i> - weekly FARM reward active
      </ng-template>
      APY <i class="fas fa-sort"></i>
    </app-popover-card>

    <div (click)="sortVaultsList('users')" class="header-column desktop-only">
      Users <i class="fas fa-sort"></i>
    </div>

    <div (click)="sortVaultsList('total_earned')" class="header-column desktop-only">
      Total Earned <i class="fas fa-sort"></i>
    </div>

    <div (click)="sortVaultsList('created')" class="header-column desktop-only">
      Created <i class="fas fa-sort"></i>
    </div>
  </div>

  <!--  ******** VALUES ************** -->

  <div class="content">
    <div
        *ngIf="vaultsList | strategyListFilter:networkFilter:platformFilter:assetFilter:currentSortingValue:sortDirection:searchTerm as filteredVaults">
      <div *ngFor="let row of filteredVaults" class="row">

        <!-- Network -->
        <div class="column desktop-only">
          {{prettyNetwork(row.contract.network)}}
        </div>

        <!-- Name -->
        <div class="column">
          <app-vault-icon [vault]="row"></app-vault-icon>
          {{prettyName(row.contract.name)}}
        </div>

        <!-- APY -->
        <div class="column">
          <app-draggable-modal class="apy-modal" *ngIf="apyWindowState[row.contract.address]">
            <app-apy-window (showModal)="toggleAPYWindow(row.contract.address)"
                            [vault]="row" [pool]="poolsList().get(row.contract.address)"></app-apy-window>
          </app-draggable-modal>
          <app-popover-card class="pointer" (click)="toggleAPYWindow(row.contract.address)">
            <ng-template>
              <p>Click to open details</p>
            </ng-template>
            <i *ngIf="isWeeklyRewardActive(row)" class="fa fa-bolt" style="color: goldenrod"></i>
            {{prettifyNumber(vaultFullApy(row.contract.address, row.contract.network))}}%
            <i class="far fa-window-restore"></i>
          </app-popover-card>
        </div>

        <!-- Users -->
        <div class="column desktop-only">
          {{vaultUsers(row.contract.address, row.contract.network)}}
        </div>

        <!-- Total Earned -->
        <div class="column desktop-only">
          ${{vaultTotalEarning(row.contract.address, row.contract.network) | number: '1.1-1'}}
        </div>

        <!-- Created -->
        <div class="column desktop-only">
          {{row.contract.createdDate | daysAgo}}
        </div>
      </div>

      <div class="empty-list" *ngIf="!filteredVaults.length">
        🏜️ No results found 🏜️
      </div>
    </div>
  </div>
</div>

