<div class="custom-table" [class]="vt.getThemeColor() + '-card'">
  <div class="title-bar">
    <h1 class="title">Strategies</h1>
    <input [(ngModel)]="searchTerm" placeholder="Search" type="search" name="vaults-search" id="vaults-search">
  </div>
  <div class="header">
      <div (click)="sortVaultsList('name')" class="header-column">Name <i class="fas fa-sort"></i></div>
      <div (click)="sortVaultsList('apy')" class="header-column" #tooltip="matTooltip" matTooltip="APY with daily restake period">APY % <i class="fas fa-sort"></i></div>
      <div (click)="sortVaultsList('tvl')" class="header-column" #tooltip="matTooltip" matTooltip="Total Value Locked">TVL M$ <i class="fas fa-sort"></i></div>
      <div (click)="sortVaultsList('users')" class="header-column desktop-only">Users <i class="fas fa-sort"></i></div>
      <div (click)="sortVaultsList('total_earned')" class="header-column desktop-only">Total Earned <i class="fas fa-sort"></i></div>
  </div>
  <div class="content">
    <div *ngFor="let row of vaults" class="row">
      <div class="column">
        <app-vault-icon [vault]="row"></app-vault-icon> {{row}}
      </div>
      <div class="column">
        <app-draggable-modal class="apy-modal" *ngIf="apyWindowState[row]">
          <app-apy-window (showModal)="toggleAPYWindow(row)" [poolName]="row"></app-apy-window>
        </app-draggable-modal>
        <span class="pointer" (click)="toggleAPYWindow(row)" matTooltip="
        APR: {{vaultFullApy(row)}}%
        Click to open details"
        matTooltipClass="tooltip-spaced">
          {{vaultFullApy(row)}}% <i class="far fa-window-restore"></i>
        </span>
      </div>
      <div  class="column">
        <app-custom-modal #tvlModal>
          <ng-template>
            <app-tvl-dialog [data]="{type: row}"></app-tvl-dialog>
          </ng-template>
        </app-custom-modal>
        <span
        class="pointer"
        (click)="openTvlDialog()" 
        matTooltip="
        TVL: {{vaultTvl(row) | number}}$ 
        Click to open TVL history chart"
        matTooltipClass="tooltip-spaced">
        ${{vaultTvl(row)| number: '1.1-1'}}M
        </span>
      </div>
      <div class="column desktop-only">
        {{vaultUsers(row)}}
      </div>
      <div class="column desktop-only">
        ${{vaultTotalEarning(row) | number: '1.1-1'}}
      </div>
    </div>
    <div class="empty-list" *ngIf="!vaults.length">
      🏜️ No results found for '{{searchTerm}}' 🏜️
    </div>
  </div>
</div>

<table *ngIf="!vt.isNonScoreboard()" id="top-div-scoreboard" style="margin-top: 10px;">

  <tr *ngFor="let vault of vaultsList">
    <td>
      <app-tvl-box [tvlName]="vault"></app-tvl-box>
    </td>
  </tr>
</table>

