.strategies-row-first, .strategies-row-second {
  line-height: 100%;
  display: flex;
  width: 100%;
}

.strategies-row-first-w, .strategies-row-second-w {
  width: 50%;
  display: flex;
}

.first-list, .second-list, .third-list, .fourth-list {
  width: 50%;
  padding: 10px;
}

.list-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fffce6;
  height: 100%;
  padding: 3px;
}


.tvl-row {
  /*padding: 10px;*/
  display: flex;
}

.table-list {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .tvl-row {
    /*padding: 3px;*/
    display: block;
  }

  .first-list, .second-list, .third-list, .fourth-list {
    /*width: 50%;*/
    /*padding: 5px;*/
  }

  .strategies-row-first-w, .strategies-row-second-w {
    width: 100% !important;
  }
}
