<container-element [ngSwitch]="vt.getViewType()">

  <div *ngSwitchCase="'v2'" class="row tvl-row"
  >
    <div *ngIf="tvlName === null">
      <div class="left-border-box tvl-name first-row-name">
        {{name}}
      </div>
      <div class="left-border-box tvl-value first-row-title"
           #tooltip="matTooltip" matTooltip="Total Value Locked">
        TVL M$
      </div>

      <div class="left-border-box farm-apy-value first-row-title"
           #tooltip="matTooltip" matTooltip="APY with daily restake period">
        APY %
      </div>
    </div>

    <div *ngIf="tvlName !== null">

      <div class="left-border-box tvl-name">
        <img class="tvl-img" src="{{getImgSrc(tvlName)}}" alt="?"/>
        {{vaultPrettyName(tvlName)}}
      </div>

      <div class="left-border-box tvl-value pointer"
           [ngStyle]="{'color': tvlValueGradient(tvlName)}"
           #tooltip="matTooltip"  matTooltipClass="tooltip-spaced" matTooltip="
           TVL: {{tvls.get(tvlName) | number}}$
           Click to open TVL history chart"
           (click)="openTvlDialog()">
        {{tvls.get(tvlName) / 1000000 | number: '1.0-1'}}
      </div>

      <div *ngIf="tvlName !== 'PS'; else psFarmBlockPerc" class="left-border-box farm-apy-value pointer"
           (click)="openIncomeDialog()"
           #tooltip="matTooltip" matTooltipClass="tooltip-spaced" matTooltip="
           Income: {{hardWorks.get(tvlName)?.shareUsdTotal | number: '1.0-1'}}$
           Income APR(weekly): {{vaultApr(tvlName) | number: '1.0-1'}}%
           FARM: {{vaultReward(tvlName) | number: '1.0-1'}} for period {{vaultRewardPeriod(tvlName)| number: '1.0-2'}} days
           Reward APR: {{vaultRewardApr(tvlName) | number: '1.0-1'}}%
">
        {{vaultApy(tvlName) + vaultRewardApy(tvlName) | number: '1.0-1'}}
      </div>
      <ng-template #psFarmBlockPerc>
        <div class="left-border-box farm-apy-value pointer" (click)="openPsApyDialog()"
             #tooltip="matTooltip" matTooltip="APR: {{vaultRewardApr(tvlName) | number: '1.0-1'}}%">
          {{vaultRewardApy(tvlName) | number: '1.0-1'}}
        </div>
      </ng-template>

    </div>
  </div>


  <table *ngSwitchDefault>
    <tr>
      <td style="min-width: 170px;">
        <img (click)="openTvlDialog()" class="pointer" src="{{getImgSrc(tvlName)}}"
             style="width: 15px; height: 15px; margin-right: 5px;" alt="?"/>
        <span class="tvl-caption" style="font-size: 1em; margin-right: 5px;">{{tvlName}}</span>
      </td>
      <td>
      <span class="tvl-caption"
            style="font-size: 1.2em;"><b>{{tvls.get(tvlName) / 1000000 | number: '1.0-1'}}</b></span>
        <span style="font-size: 0.8em;">M</span>
      </td>
    </tr>
  </table>
</container-element>


