.tvl-row {
  width: 100%;
  padding: 3px;
}

.first-row-title {
  font-size: 0.8em !important;
  font-weight: bold !important;
  text-align: center;
}

.first-row-name {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: center;
}

.tvl-name {
  width: 50%;
  font-size: 0.9em;
}

.tvl-value, .income-value, .income-apy-value, .farm-apy-value {
  font-size: 1em;
  width: 25%;
  font-weight: bolder;
  text-align: center;
}

.tvl-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .tvl-row {
    padding: 1px;
  }

  /*.tvl-name {*/
  /*  width: 40%;*/
  /*}*/

  /*.tvl-value, .income-value, .perc-value {*/
  /*  width: 20%;*/
  /*}*/

  .tvl-img {
    width: 10px;
    height: 10px;
    margin-right: 1px;
  }

  * {
    font-size: 93%;
  }
}

@media screen and (max-width: 600px) {
  .tvl-row {
    padding: 0;
  }

  * {
    font-size: 89%;
  }
}

@media screen and (max-width: 399px) {
  * {
    font-size: 89%;
  }
}


/*------------old ------------*/
span {
  color: #a09c9c;
}
