@import "../../../../../scss/utilities/utilities";
@import "../../../../../scss/utilities/fancy-ui-helpers";
@import "../../flow-card-common-styles";

.uni-card {
  .title-row {
    .filter-input {
      height: 25px;
      @include fancy-input($fancy-input-small-padding, $fancy-input-small-radius);
    }
  }

  .table-header {
    grid-template-columns: 12% 27% 12% 20% 22% 0;
  }

  .trades-list {



    .trades-list-item {
      grid-template-columns: 12% 26% 10% 18% 22% 0;
      gap: 5px;
      .transaction-type span {
        width: 47px;
        padding: 4px 0;
      }
    }

  }



}
