@import "../../../../../scss/themes/theme-mixins";
$buy-color: #a1bca6;
$sell-color: #B80E0E;
$dark-background-color: #111111;

.uni-trades {
  display: grid;
  position: relative;
  grid-template-columns: 10% 23% 21% 22% 20% 5%;
  padding: 14px 7px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  @include isDarkMode() {
    border-bottom: 1px solid  #455858;
  }
}

.trade-field {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.trade-date {
  font-size: 0.9em;
}

.trade-coin {
  font-size: 0.7em;
}

.trade-other-coin {
  font-size: 0.7em;
}

.trade-amount {
  text-align: center;
}

.trade-sign {
  font-size: 0.9em;
  text-align: center;
}

.trade-price {
  text-align: center;
}

.sign-icon {
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
  height: auto;
  width: auto;
}

.pointer:hover {
  z-index: 900;
}

.transaction-type span {
  padding: 0.3em 0.4em;
  text-align: center;
  border-radius: 0.5em;
  font-size: 0.8em;
}

@media(max-width: 1100px) {
  .uni-trades {
    margin: 10px 0;

  }
}

