.central-view-row {
  width: 100%;
}

.left {
  width: 100%;
}

.middle {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .price-card {
    height: 450px;
  }

  .grain-chart, .farm-chart {
    width: 100%;
  }

  /*.left {*/
  /*  width: 50%;*/
  /*}*/
  /*.middle {*/
  /*  width: 50%;*/
  /*}*/
}

@media screen and (max-width: 600px) {
  .price-card {
    height: 350px;
  }
}

@media screen and (max-width: 399px) {
  .left {
    width: 100%;
  }

  .middle {
    width: 100%;
  }
}
