<div class="row central-view-row">

  <div class="left-border-box left">
    <app-dashboard-last-values></app-dashboard-last-values>
  </div>

  <div class="left-border-box left">
    <app-strategy-list></app-strategy-list>
  </div>

  <div class="left-border-box middle">
    <div class="row charts-row">

      <app-price-chart></app-price-chart>

    </div>

  </div>

  <app-flow-cards-view></app-flow-cards-view>

  <div class="left-border-box left">
    <app-last-prices-list></app-last-prices-list>
  </div>
</div>
