@import "./theme-variables.scss";


@each $color,
$variables in $themes_colors {

    .#{$color}-background, .#{$color}-card{
        color: map-get($variables, "font");
        h1,
        h2,
        h3,
        h4,
        p,
        span,
        label {
            color: map-get($variables, "font");
        }

        .#{$color}-gray {
            color: map-get($variables, "gray");
        }

        .#{$color}-yellow {
            color: map-get($variables, "yellow");
        }

        .#{$color}-black {
            color: map-get($variables, "black");
        }

        .#{$color}-middleGreen {
            color: map-get($variables, "middleGreen");
        }

        .table-link-badge{
            background: map-get($variables, "middleGreen");
        }

        input {
            background: map-get($variables, "card");
            color: map-get($variables, "font");
        }

        select  {
            background: map-get($variables, "lightGreen");
            color: map-get($variables, "solidGreen");
            border-right: 18px solid map-get($variables, "lightGreen");
            option {
                background: map-get($variables, "card");
            }
            option:checked,
            option:hover {
                background: map-get($variables, "lightGreen");
                color: map-get($variables, "middleGreen");
            }
        }

        div.controls {
            background: map-get($variables, "lightGreen");
        }

        a {
            color: map-get($variables, "links");

            &:hover {
                color: lighten(map-get($variables, "links"), 5%);
            }
        }

        .mat-tab-label, .mat-tab-link {
            color: inherit!important;
        }
        .mat-tab-label  {
            height: 24px;
            min-width: 80px;
            margin: 0;
            padding: 0;
        }

        .table-row {
            color: map-get($variables, "border");
        }

        .trades-list-item .transaction-type span,
        .uni-trades .transaction-type span,
        .harvest-trades .transaction-type span {
            &.BUY,
            &.Deposit,
            &.CONVERSION{
                background: map-get($variables, 'middleGreen');
                color: #FFFFFF;
            }

            &.SELL,
            &.Withdraw {
                background: map-get($variables, 'yellow');
                color: #FFFFFF;
            }
        }
        .footer-row {
            svg.footer-icon path {
                fill: map-get($variables, 'lightGray');
            }
            a {
                color: map-get($variables, 'lightGray');
            }
        }
        .table-header {
            color: map-get($variables, "gray");
        }

    }



    .#{$color}-background {
        background: map-get($variables, "background");
    }

    .#{$color}-card {
        background: map-get($variables, "card");
    }

    .#{$color}-lightGreen {
        background: map-get($variables, "lightGreen");
    }

    .#{$color}-transparent {
        background: map-get($variables, "transparent");
    }

    .#{$color}-softGreen {
        background: map-get($variables, "softGreen");
    }

    span.#{$color}-solidGreen {
        color: map-get($variables, "solidGreen");
    }

    .#{$color}-font {
        color: map-get($variables, "font");
    }

}
