@import "./theme-variables.scss";


@each $color, $variables in $themes_colors {
    @debug $color;
    @debug $variables;

    .#{$color}-background {
        background: map-get($variables, "background")!important;
    }

    .#{$color}-font {
        color: map-get($variables, "font")!important;
    }

    .#{$color}-card {
        background: map-get($variables, "card")!important;
    }

}