<div class="hardwork-card" [class]="vt.getThemeColor() + '-card'">
  <div class="hardWork-list-history">
    <div class="title-row">

        <h4 class="title">doHardWorks</h4>
        <select [(ngModel)]="vaultFilter" class="select-strategy-2 left-border-box">
          <option [value]="'all'">All</option>
          <option *ngFor="let name of vaultNames" [value]="name">{{name}}</option>
        </select>

        <input type="number" min="0" #hardworkDtoFilter class="input-less-than left-border-box" placeholder="More than...">
    </div>

    <div class="hardwork-card-header">
      <div class="hardword-card-header-title">Date</div>
      <div class="hardword-card-header-title"></div>
      <div class="hardword-card-header-title">Vault</div>
      <div class="hardword-card-header-title">Income</div>
      <div class="hardword-card-header-title"></div>
    </div>

    <app-hardwork-flow-tab [dtos]="dtos" [showMoreColumns]="false" [showFullDate]="false" [maxHeight]="180"
                           [vaultFilter]="vaultFilter" [minAmount]="+hardworkDtoFilter.value">
    </app-hardwork-flow-tab>
  </div>

  <div class="button-container">
    <button (click)="openHardWorkHistoryListDialog()" class="show-more">show older</button>
  </div>
  <app-custom-modal #hardWorkHistoryListModal>
    <ng-template>
      <app-hard-work-history-list-dialog></app-hard-work-history-list-dialog>
    </ng-template>
  </app-custom-modal>

</div>
