.hardWork-list-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fffce6;
    max-width: 900px;
  }

  .title-row {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 15px;

    .title {
      font-size: 1.5em;
      color: black;
      font-weight: bolder;
      text-align: center;
      width: 100%;
      margin: 5px 0;
    }
    .select-strategy-2 {
     width: 30%;
     margin-right: 15%;
    }
  }

  