<div class="hardWork-list-history" [class]="vt.getThemeColor() + '-card'">
  <div *ngIf="ready; then readyBlock else loadingBlock "></div>
  <ng-template #loadingBlock>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

  <ng-template #readyBlock>
    <h1 class="title">Hard Work History</h1>
    <div class="fields-container">
      <select [(ngModel)]="vaultFilter" class="strategy-select-field">
        <option [value]="'all'">All</option>
        <option *ngFor="let name of vaultNames | async" [value]="name">{{name}}</option>
      </select>
      <input #hardworkDtoFilter class="less-than-filter-field" placeholder="More than..." type="number" min="0">    
    </div>
    <app-hardwork-header [showMoreColumns]='true' ></app-hardwork-header>
    <app-hardwork-flow-tab [dtos]="dtos.data" [showMoreColumns]="true" [showFullDate]="true" [vaultFilter]="vaultFilter" [minAmount]="hardworkDtoFilter.value"></app-hardwork-flow-tab>
    <app-paginator (selectPage)="selectPage($event)" (nextPage)="nextPage($event)" (previousPage)="previousPage($event)" [pageObject]="dtos"></app-paginator>
  </ng-template>

  
</div>
