@import "../../../scss/utilities/utilities.scss";
.hardWork-list-history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    width: 90vw;

    @include responsive(phone){
      width: 100%;
    }

    .title {
      font-size: 1.5em;
      font-weight: bolder;
      text-align: center;
      width: 100%;
      padding: 10px 0;
    }

    .fields-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      padding: 10px 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;


      .strategy-select-field, .less-than-filter-field {
        outline: 0;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #cdcdcd;
        padding: 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
    }
  
  }

  