<div class="uni-tx-hist" [class]="vt.getThemeColor() + '-card'">
  <h1 class="title">Uniswap Transaction History</h1>
  <input class="filter-input" (input)="handleFilterUpdate($event)" [(ngModel)]="minAmount" placeholder="More than..."
         type="number">
  <app-flow-tab>
    <div class="trade-row" *ngFor="let dto of getDtos() | uniswapFilter:minAmount">
      <app-uni-trade [fullDate]="true" [dto]="dto"></app-uni-trade>
    </div>
    <div *ngIf="!paginatedDtos.data?.length" class="empty-vault">
      🏜️ Loading... 🏜️
    </div>
  </app-flow-tab>
  <div class="paginator-area">
    <app-paginator (selectPage)="selectPage($event)" (nextPage)="nextPage($event)" (previousPage)="previousPage($event)"
                   [pageObject]="paginatedDtos"></app-paginator>
  </div>

</div>
