<div
  class="title-wrapper g-flex g-flex--align-center g-flex--space-between"
  [class]="vt.getThemeColor() + '-black'">
  <app-side-menu-toggle>
  </app-side-menu-toggle>

  <span class="title-wrapper__label">
    Vaults list
  </span>

  <app-theme-switch>
  </app-theme-switch>
</div>

<div
  class="custom-table"
  [class]="vt.getThemeColor() + '-card'">
  <div class="filters g-flex g-flex--align-center g-flex--space-between">
    <div class="filters__selectors g-flex g-flex--align-center g-flex--space-between">
      <select
        class="filters__select"
        [(ngModel)]="networkFilter"
        [class]="vt.getThemeColor() + '-softGreen'">
        <option value="">
          Network
        </option>

        <option
          *ngFor="let network of NETWORKS"
          [value]="network.value">
          {{ network.label }}
        </option>
      </select>

      <select
        class="filters__select"
        [(ngModel)]="platformFilter"
        [class]="vt.getThemeColor() + '-softGreen'">
        <option value="">
          Platform
        </option>

        <option
          *ngFor="let platform of platformList"
          [value]="platform.prefix">
          {{ platform.name }}
        </option>
      </select>

      <select
        class="filters__select"
        [(ngModel)]="assetFilter"
        [class]="vt.getThemeColor() + '-softGreen'">
        <option value="">
          Asset
        </option>

        <option
          *ngFor="let asset of assetList"
          [value]="asset">
          {{ asset }}
        </option>
      </select>

      <div
        class="filters__quantity"
        [class]="vt.getThemeColor() + '-solidGreen'">
        Total: {{ (vaultsList$ | async)?.length }}
      </div>
    </div>

    <input
      class="filters__search"
      [(ngModel)]="searchTerm"
      placeholder="Search"
      type="search"
      name="vaults-search"
      id="vaults-search">
  </div>

  <mat-checkbox
    class="checkbox"
    [(ngModel)]="isShowInactive">
    Show inactive values
  </mat-checkbox>

  <!--  ******** HEADERS ************** -->

  <div
    class="header"
    [class]="vt.getThemeColor() + '-gray'">
    <ng-container *ngFor="let header of TABLE_HEADERS">
      <app-popover-card
        *ngIf="header.tooltip; else simpleHeaderTpl"
        class="header-column"
        [class.desktop-only]="header.isDesktopColumn"
        (click)="sortVaultsList(header.value)">
        <ng-template>
          <span [innerHTML]="header.tooltip">
          </span>
        </ng-template>

        {{ header.label }}
        <i class="fas fa-sort"></i>
      </app-popover-card>

      <ng-template #simpleHeaderTpl>
        <div
          class="header-column"
          [class.desktop-only]="header.isDesktopColumn"
          (click)="sortVaultsList(header.value)">
          {{ header.label }}
          <i class="fas fa-sort"></i>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <!--  ******** VALUES ************** -->

  <div
    class="content"
    [class]="vt.getThemeColor() + '-card'">
    <ng-container
      *ngIf="(vaultsList$ | async)
      | strategyListFilter:networkFilter:platformFilter:assetFilter:currentSortingValue:sortDirection
      :searchTerm:isShowInactive
      as filteredVaults">
      <div
        *ngFor="let row of filteredVaults"
        class="row pointer"
        (click)="toggleAPYWindow(row.contract.address)">

        <!-- Popup -->
        <app-draggable-modal
          *ngIf="apyWindowState[row.contract.address]"
          class="apy-modal"
          (dragged)="onModalDrag($event)">
          <app-apy-window
            [vault]="row"
            [pool]="poolsList().get(row.contract.address)"
            (showModal)="toggleAPYWindow(row.contract.address)"
            (closeModal)="closeAPYWindow(row.contract.address)">
          </app-apy-window>
        </app-draggable-modal>

        <!-- Network -->
        <div class="column desktop-only">
          {{prettyNetwork(row.contract.network) | titlecase }}
        </div>

        <!-- Name -->
        <div class="column name">
          <app-vault-icon
            [vault]="row"
            [networks]="vaultsIconsList">
          </app-vault-icon>

          <span [title]="row.underlying?.name || row.name">
            {{ row.underlying?.name || row.name }}
          </span>
        </div>

        <!-- APY -->
        <div class="column">
          <app-popover-card class="pointer">
            <ng-template>
              <p>Click to open details</p>
            </ng-template>
            <i *ngIf="isWeeklyRewardActive(row)" class="fa fa-bolt" style="color: goldenrod"></i>
            <!-- TODO: vaultFullApy - move to data mapper -->
            {{prettifyNumber(vaultFullApy(row.contract.address, row.contract.network))}}%
          </app-popover-card>
        </div>

        <!-- TVL -->
        <div class="column">
          <app-popover-card class="pointer">
            <ng-template>
              <p>TVL: {{row.totalTVL | number}}$</p>
            </ng-template>
            ${{row.totalTVLPrettify}}
          </app-popover-card>
        </div>

        <!-- Users -->
        <div class="column desktop-only">
          {{vaultUsers(row.contract.address, row.contract.network)}}
        </div>

        <!-- Total Earned -->
        <div class="column desktop-only">
          ${{row.totalEarning | number: '1.1-1'}}
        </div>

        <!-- Created -->
        <div class="column desktop-only">
          {{row.contract.createdDate | daysAgo}}
        </div>
      </div>

      <div class="empty-list" *ngIf="!filteredVaults.length">
        🏜️ No results found 🏜️
      </div>
    </ng-container>
  </div>
</div>

