<div class="title-wrapper"
     [class]="vt.getThemeColor() + '-black'">
  <app-side-menu-toggle></app-side-menu-toggle>
  <span>Vaults list</span>
  <app-theme-switch></app-theme-switch>
</div>

<div class="custom-table" [class]="vt.getThemeColor() + '-card'">
  <div class="filters">
    <div>
      <select [(ngModel)]="networkFilter" name="" id="networkFilter"
              [class]="vt.getThemeColor() + '-softGreen'">
        <option value="">Network</option>
        <option value="eth">Ethereum</option>
        <option value="bsc">Binance</option>
      </select>

      <select [(ngModel)]="platformFilter" name="" id="platformFilter"
              [class]="vt.getThemeColor() + '-softGreen'">
        <option value="">Platform</option>
        <option *ngFor="let platform of platformList" [value]="platform.prefix">{{platform.name}}</option>
      </select>

      <select [(ngModel)]="assetFilter" name="" id="assetFilter"
              [class]="vt.getThemeColor() + '-softGreen'">
        <option value="">Asset</option>
        <option *ngFor="let asset of assetList" [value]="asset">{{asset}}</option>

      </select>

      <div class="quantity">
        <span [class]="vt.getThemeColor() + '-solidGreen'">Total: {{ (vaultsList$ | async)?.length }}</span>
      </div>
    </div>
    <input [(ngModel)]="searchTerm" placeholder="Search" type="search" name="vaults-search" id="vaults-search">

  </div>

  <!--  ******** HEADERS ************** -->

  <div class="header" [class]="vt.getThemeColor() + '-gray'">
    <div class="header-column desktop-only">
      Network <i class="fas fa-sort"></i>
    </div>

    <div (click)="sortVaultsList('name')" class="header-column">
      Name <i class="fas fa-sort"></i>
    </div>

    <app-popover-card (click)="sortVaultsList('apy')" class="header-column">
      <ng-template>
        <p>APY with daily restake period</p>
        <i class="fa fa-bolt" style="color: goldenrod"></i> - weekly FARM reward active
      </ng-template>
      APY <i class="fas fa-sort"></i>
    </app-popover-card>

    <app-popover-card (click)="sortVaultsList('tvl')" class="header-column">
      <ng-template>
        Total Value Locked
      </ng-template>
      TVL <i class="fas fa-sort"></i>
    </app-popover-card>

    <div (click)="sortVaultsList('users')" class="header-column desktop-only">
      Users <i class="fas fa-sort"></i>
    </div>

    <div (click)="sortVaultsList('total_earned')" class="header-column desktop-only">
      Total Earned <i class="fas fa-sort"></i>
    </div>

    <div (click)="sortVaultsList('created')" class="header-column desktop-only">
      Created <i class="fas fa-sort"></i>
    </div>
  </div>

  <!--  ******** VALUES ************** -->

  <div
    class="content"
    [class]="vt.getThemeColor() + '-card'">
    <ng-container
      *ngIf="(vaultsList$ | async)
      | strategyListFilter:networkFilter:platformFilter:assetFilter:currentSortingValue:sortDirection:searchTerm
      as filteredVaults">
      <div
        *ngFor="let row of filteredVaults"
        class="row pointer"
        (click)="toggleAPYWindow(row.contract.address)">

        <!-- Popup -->
        <app-draggable-modal
          *ngIf="apyWindowState[row.contract.address]"
          class="apy-modal"
          (dragged)="onModalDrag($event)">
          <app-apy-window
            [vault]="row"
            [pool]="poolsList().get(row.contract.address)"
            (showModal)="toggleAPYWindow(row.contract.address)"
            (closeModal)="closeAPYWindow(row.contract.address)">
          </app-apy-window>
        </app-draggable-modal>

        <!-- Network -->
        <div class="column desktop-only">
          {{prettyNetwork(row.contract.network)}}
        </div>

        <!-- Name -->
        <div class="column name">
          <app-vault-icon
            [vault]="row"
            [networks]="vaultsIconsList">
          </app-vault-icon>

          <span [title]="row.underlying?.name">
            {{ row.underlying?.name }}
          </span>
        </div>

        <!-- APY -->
        <div class="column">
          <app-popover-card class="pointer">
            <ng-template>
              <p>Click to open details</p>
            </ng-template>
            <i *ngIf="isWeeklyRewardActive(row)" class="fa fa-bolt" style="color: goldenrod"></i>
            <!-- TODO: vaultFullApy - move to data mapper -->
            {{prettifyNumber(vaultFullApy(row.contract.address, row.contract.network))}}%
          </app-popover-card>
        </div>

        <!-- TVL -->
        <div class="column">
          <app-popover-card class="pointer">
            <ng-template>
              <p>TVL: {{vaultTvl(row.contract.address, row.contract.network) | number}}$</p>
            </ng-template>
            ${{prettifyNumber(vaultTvl(row.contract.address, row.contract.network))}}
          </app-popover-card>
        </div>

        <!-- Users -->
        <div class="column desktop-only">
          {{vaultUsers(row.contract.address, row.contract.network)}}
        </div>

        <!-- Total Earned -->
        <div class="column desktop-only">
          ${{vaultTotalEarning(row.contract.address, row.contract.network) | number: '1.1-1'}}
        </div>

        <!-- Created -->
        <div class="column desktop-only">
          {{row.contract.createdDate | daysAgo}}
        </div>
      </div>

      <div class="empty-list" *ngIf="!filteredVaults.length">
        🏜️ No results found 🏜️
      </div>
    </ng-container>
  </div>
</div>

