<div id="history-page">
  <div class="history-page-card history-address-box" [class]="vt.getThemeColor() + '-card'">
    <h4 class="title">History for Address</h4>
    <div class="address-input-container">
      <input placeholder=" " id="address-input" class="address-input" [(ngModel)]="inputAddress"
             (keyup.enter)="routeToAddress(inputAddress?.trim())" type="search">
      <label class="address-input-label" for="address-input">Address</label>
    </div>
    <button *ngIf="this.inputAddress && this.inputAddress != this.address" id="btn2" class="open-button" color="global"
            mat-mini-fab routerLink="/history/{{this.inputAddress?.trim()}}">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="history-page-card balance-chart-container" [class]="vt.getThemeColor() + '-card'">
    <h4 class="title">Account Balance</h4>
    <div *ngIf="address && fullData?.length !== 0" #balance_chart class="balance-chart" id="chart1"></div>
  </div>
  <div class="history-page-card" [class]="vt.getThemeColor() + '-card'">
    <div class="row stat-row">

      <div *ngIf="address && fullData?.length != 0" id="sum1" class="left-border-box styled-card title-card">
        <div class="">
          🏦 Summary: {{summary() | number: '1.0-0'}}$
          <mat-checkbox class="checkbox" (change)="changeAllInclude(); sortValues()"
                        [(ngModel)]="includeAll"></mat-checkbox>
        </div>
      </div>

      <div *ngIf="address && fullData?.length != 0" id="rewards1" class="left-border-box styled-card title-card">
        <div class="pointer" (click)="openProfitHistoryDialog()">
          🤑 Rewards: {{rewardSum | number: '1.0-0'}} FARM ({{rewardSumUsd | number: '1.0-0'}}$)
        </div>
        <app-custom-modal #profitHistoryDialog>
          <ng-template>
            <app-simple-chart-dialog
                [data]="{
              title: 'Rewards History',
              data: [rewardsHistory, balanceHistory], 
              config: [['Profit FARM', 'right', '#0085ff'],
                       ['Balance USD', '', '#d7c781']]}">
            </app-simple-chart-dialog>
          </ng-template>
        </app-custom-modal>
      </div>

      <div *ngIf="address && fullData?.length != 0" id="empty1">
        <div class="stat-2 left-border-box styled-card title-card">
          Show empty pools
          <mat-checkbox class="checkbox" (change)="sortValues()" [(ngModel)]="showEmptyPools"></mat-checkbox>
        </div>
      </div>

    </div>

    <div class="row stat-row">

      <div *ngIf="lastTransfer" id="farm1" class="stat-1 left-border-box styled-card title-card">
        <div class="">
          <app-vault-icon [vault]="getVault('PS')"></app-vault-icon>
          FARM: {{transferBalanceUsd(lastTransfer) | number: '1.0-2'}}$
        </div>
        <mat-checkbox class="checkbox" (change)="sortValues()" [(ngModel)]="includeTransfers"></mat-checkbox>
      </div>

      <div *ngFor="let c of vaults">
        <div *ngIf="showEmptyPools || lastStaked.get(c.value)?.ownerBalanceUsd > 0.01" id="vault-{{c.value}}"
             class="stat-2 left-border-box styled-card title-card">
          <div (click)="openHistoryDialog()" class="pointer">
            <app-vault-icon [vault]="getVault(c.value)"></app-vault-icon>
            {{c.name}}: {{lastStaked.get(c.value)?.ownerBalanceUsd | number: '1.0-2'}}$
          </div>
          <mat-checkbox class="checkbox" (change)="sortValues()" [(ngModel)]="c.checked"
                        name="{{c.value}}"></mat-checkbox>
          <app-custom-modal #historyDialog>
            <ng-template>
              <app-simple-chart-dialog
                  [data]="{
                title: c.value + ' History',
                data: [balanceHistoryBySource.get(c.value)], 
                config: [[c.value + ' Balance $', 'right', '#0085ff']]
              }">
              </app-simple-chart-dialog>
            </ng-template>
          </app-custom-modal>
        </div>
      </div>

    </div>

    <div class="row stat-row">

      <div *ngIf="includeTransfers" id="trans1">
        <div *ngFor="let c of transferTypeIncluded">
          <div class="stat-2 left-border-box styled-card title-card">
            {{prettyTransferType(c.value)}}
            <mat-checkbox class="checkbox" (change)="sortValues()" [(ngModel)]="c.checked"
                          name="{{c.value}}"></mat-checkbox>
          </div>
        </div>
      </div>

    </div>

    <div *ngFor="let record of sortedData">

      <div class="main-row">

        <div class="styled-card box-card row values">
          <div *ngIf="isHarvest(record)" style="width: 100%" id="harv1">
            <app-trade-box [harvestDto]="record" [address]="address"></app-trade-box>
          </div>

          <div *ngIf="isTransfer(record)" id="tr1" style="width: 100%">
            <app-trade-box [transferDto]="record" [address]="address"></app-trade-box>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="address && fullData?.length == 0" id="not-found1" class="message">
    Address doesn't have any operations
  </div>

  <div *ngIf="!sortedData" id="spinner" class="message">
    <app-loading-spinner></app-loading-spinner>
  </div>

</div>
