.title {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  width: 100vw;
  max-width: 800px;
}


.chart {
  min-height: 70vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }
}


