<div class="hardwork-headers">
    <h3 class="hardwork-header">Date</h3>
    <h3 class="hardwork-header">Vault</h3>
    <h3 class="hardwork-header">Strategy Profit</h3>
    <h3 class="hardwork-header">Farm Buyback</h3>
    <h3 *ngIf="showMoreColumns" class="hardwork-header">Total Profit</h3>
    <h3 *ngIf="showMoreColumns" class="hardwork-header">TVL</h3>
    <h3 *ngIf="showMoreColumns" class="hardwork-header"> Period of Work</h3>
    <h3 *ngIf="showMoreColumns" class="hardwork-header">Gas Saved</h3>
    <h3 *ngIf="showMoreColumns" class="hardwork-header"> Calls</h3>
    
</div>

