.hardwork-headers {
    
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    color: black;
    position: sticky;
    .hardwork-header {
        width: 100%;
        height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
    &.link {
        opacity: 0;
        cursor: none;
    }
        
       
    }
    
}

