.hardwork-headers {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    color: black;
    position: sticky;
    .hardwork-header {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        
       
    }
    
}

