.left {
  padding: 10px;
}
.hardwork-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fffce6;
    /* margin: 10px; */
    padding: 3px 0;
  }
  .title-row {
    display: flex;
    justify-content: center;

    .title {
      font-size: 1em;
      color: black;
      font-weight: bolder;
      text-align: center;
      width: 100%;
      margin: 0;
    }
    .select-strategy-2 {
     width: 30%;
     margin-right: 15%;
    }
  }

  


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-more {
  background-color: #eebf65;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}