
    <div class="left-border-box left">
        <div class="hardwork-card">
          <div #tooltip="matTooltip"
               aria-hidden="false"
               aria-label="?"
               class="title-span"
               matTooltip="List of trades contains FARM amounts more than {{whalesMoreThan}}.
            Special trades will be marked with spec symbols (buys from doHardWork and sells from dev funds).
            Format: Date | buy/sell/add/rem | Farm amount | Other amount | Price"
            >
          </div>
          <div class="hardWork-list-history">
            <div class="title-row">
              <p class="title">Hard Work History</p>

              <select [(ngModel)]="vaultFilter" class="select-strategy-2 left-border-box">
                <option [value]="'all'">All</option>
                <option *ngFor="let name of vaultNames" [value]="name">{{name}}</option>
              </select>

              <input #hardworkDtoFilter class="input-less-than left-border-box" placeholder="More than..." type="text">
            </div>
            
            <app-hardwork-flow-tab [dtos]="dtos" [showMoreColumns]="false" [showFullDate]="false" [maxHeight]="180" [vaultFilter]="vaultFilter" [minAmount]="+hardworkDtoFilter.value"></app-hardwork-flow-tab>
        </div>
        <div class="button-container">
          <button (click)="openHardWorkHistoryListDialog()" class="show-more">show older</button>
        </div>
        
         
        </div>
      </div>
