.main-row {
  display: flex;
}

.title {
  padding: 3px;
  font-weight: bolder;
}

.value {
  padding: 3px;
  font-weight: bolder;
  margin-top: 3px;
  display: flex;
  align-items: center;
}

.tvl-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.sign-icon {
  font-size: 1.2em;
}
