

<div class="row main-row">

  <div class="left-border-box value" [style]="isPositive() ? 'color: green' : 'color: red'">
    {{getTitle}}
  </div>

  <div class="left-border-box value">
    <div>
      <mat-icon [style]="isPositive() ? 'color: green' : 'color: red'">
        {{isPositive() ? 'trending_up' : 'trending_down'}}
      </mat-icon>
    </div>
  </div>

  <div class="left-border-box value" #tooltip="matTooltip"
       matTooltip="{{uniswapDto.blockDateAdopted | date: 'dd.MM.yyyy HH:mm:ss'}}">
    {{uniswapDto.blockDateAdopted | date: 'dd MMM'}}
  </div>

  <div class="left-border-box value">
    {{uniswapDto.type}}
    {{uniswapDto.amount | number: '1.0-2'}} {{uniswapDto.coin}}
    {{isTrade()? 'for' : 'and'}} {{uniswapDto.otherAmount| number: '1.0-2'}} {{uniswapDto.otherCoin}}
    at price {{uniswapDto.lastPrice}}
  </div>

  <div class="left-border-box value pointer" (click)="openEthersacanTx(uniswapDto.hash)">
    <mat-icon [ngStyle]="{'color': '#b5b4b4'}" class="sign-icon">open_in_new</mat-icon>
  </div>


</div>
