.paginator-component{
    padding: 10px;

    .paginator-btn {
        padding: 5px;
        padding: 5px;
        border: 1px solid #3c3c3c;
        background: #3d3d3d;
        cursor: pointer;
        outline: none;

        &.active, &:hover {
            background: #292929;
        }

        &:disabled {
            opacity: 0.8;
            cursor: not-allowed;
        }


    }
}