@import "../../../scss/themes/theme-mixins";

$buy-color: #a1bca6;
$sell-color: #B80E0E;
$dark-background-color: #111111;


.flow-card {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 36px 35px 23px 40px;
    border-radius: 10px;
    border: none;

    .title-row {
        display: flex;
        flex-direction: column;
        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 16px;
            margin: 12px 0 30px;
            font-family: 'PT Sans', sans-serif;

            select {
                height: 46px;
                padding: 12px 18px;
                border-radius: 10px;
                cursor: pointer;
                border-left: none;
                border-top: none;
                border-bottom: none;
                max-width: 50%;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                font-size: 16px;
            }
            input {
                height: 46px;
                padding: 12px 18px;
                cursor: pointer;
                border: 1px solid #CFE2E2;
                box-sizing: border-box;
                border-radius: 10px;
                width: 100%;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                font-size: 16px;
            }
        }
        .title {
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            width: 100%;
        }
        .title-span {
            margin: 0 auto 0 0;
        }
    }

    .table-header {
        display: grid;
        padding: 0.3em 0.5em;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }

    .trades-list {
        height: 245px;
        overflow: hidden;
        position: relative;
        padding-right: 5px;

        .trades-list-item {
            display: grid;
            padding: 13px 0 13px 0;
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            border-bottom: 1px solid #F0F0F0;
            margin-left: 7px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            @include isDarkMode() {
                border-bottom: 1px solid  #455858;
            }

            .mat-icon {
                font-size: 1em;
                vertical-align: middle;
                text-align: center;
                height: auto;
                width: auto;
            }

            .transaction-type span {
                border-radius: 6px;
                padding: 4px 12px;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                display: inline-block;
                box-sizing: border-box;
            }

        }
    }

    .button-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 23px 0 0;


        .show-more {
            background-color: transparent;
            font-weight: bold;
            border: none;
            cursor: pointer;
            display: flex;
            font-family: 'PT Sans', sans-serif;
            font-size: 16px;
            img {
                margin: auto 0 3px 8px;
            }

        }
    }

    .empty-list {
        text-align: center;
        min-height: 195px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 1850px) {
    .flow-card {
        padding: 24px 20px;

        .trades-list {
            .trades-list-item {
                font-size: 14px;
                line-height: 18px;
            }
            mat-icon {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 1610px) {
    .flow-card {
        .trades-list {
            .trades-list-item {
                font-size: 12px;
                line-height: 13px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .flow-card {
        .trades-list {
            .trades-list-item {
                font-size: 14px;
                line-height: 18px;
            }
            mat-icon {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .flow-card {
        .trades-list {
            .trades-list-item {
                font-size: 16px;
                line-height: 21px;
            }
            mat-icon {
                font-size: 16px;
            }
        }
    }
}