.title-col {
  font-size: 1.5em;
  margin: 10px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  background: #fffce6;

}

::ng-deep.mat-dialog-container {
  overflow: hidden;
  border-radius: 3px;
  padding: 10px!important;
  background: #fffce6;
}

.tvl-chart {
  min-height: 70vh;
}



@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }
}



::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: black!important;
  background-color: transparent !important;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  color: black!important;
  background-color: transparent !important;
}

::ng-deep .mat-tab-nav-bar {
  color: black !important;
  background-color: transparent !important;
}
