<div class="row main-row">
  <div class="first">
    <div *ngFor="let price of allPrices">
      <div class="value-card">
        <div class="name">
          <text>{{ price.tokenName }}</text>
        </div>
        <div>
          <text class="">${{ price.tokenPrice }}</text>
        </div>
      </div>
    </div>
  </div>
  <div class="second">
    <div *ngFor="let price of allPrices">
      <div class="value-card">
        <div class="name">
          <text>{{ price.tokenName }}</text>
        </div>
        <div>
          <text class="">${{ price.tokenPrice }}</text>
        </div>
      </div>
    </div>
  </div>
</div>
