<div class="row main-row">
  <div class="first">
    <div *ngFor="let price of getAllPrices()">
      <div class="value-card">
        <div class="name">
          <text>{{price.token}}</text>
        </div>
        <div>
          <text class="">${{ getPrice(price) | number: '1.0-1' }}</text>
        </div>
      </div>
    </div>
  </div>
  <div class="second">
    <div *ngFor="let price of getAllPrices()">
      <div class="value-card">
        <div class="name">
          <text>{{ price.token}}</text>
        </div>
        <div>
          <text class="">${{ getPrice(price) | number: '1.0-1' }}</text>
        </div>
      </div>
    </div>
  </div>
</div>
