.custom-modal {
    position: fixed;
    z-index: 1000;
    padding: 2%;
    width: fit-content;
    transition: opacity 0.2s;
    height: max-content;

}

.custom-modal:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

.custom-modal:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}