@import "src/scss/utilities/utilities";

.uni-tx-hist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 600px;
  width: 90vw;
  
  @include responsive(small){
    max-width: 100%;
    width: 100%;
  }

  .paginator-area {
    text-align: center;
  }

  .title {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
  }
  .filter-input {
    width: 30%;
    margin-bottom: 10px;
    margin: 20px 0;
    margin-left: auto;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .show-even-more {
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
  
  }
  
  
  @media screen and (max-width: 900px) {
    .title {
      font-size: 1em;
      margin: 5px;
    }
  }

}  

