<div class="uni-tx-hist" [class]="vt.getThemeColor() + '-card'">
        <h1 class="title">Uniswap Transaction History</h1>
        <input class="filter-input" #uniswapDtoFilter placeholder="More than..." type="number">
        <app-flow-tab [dtos]="getDtos()" [minAmount]="+uniswapDtoFilter.value" [showFullDate]=true></app-flow-tab>
        <div class="button-container">
                <button class="show-even-more" (click)="getOlderTransactions()" [disabled]="disabled" [ngStyle]="{
                                'pointer-events': disabled ? 'none' : 'auto',
                                'cursor': disabled ? 'wait' : 'pointer',
                                'background-color': disabled ? '#eebf65' : '#eebf65'
                        }">{{disabled ? 'please wait' : 'load more'}}</button>
        </div>

</div>
