.title {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

.dialog-card {
  background: #fffce6;
  width: 100vw;
  max-width: 700px;
}


.chart {
  min-height: 70vh;
}


@media screen and (max-width: 900px) {
  .title-col {
    font-size: 1em;
    margin: 5px;
  }

  ::ng-deep.mat-dialog-container {
    border-radius: 1px;
    padding: 5px !important;
  }
}

