<div class="row central-view-row">
  <div class="left-border-box left">
    <app-strategy-list></app-strategy-list>
  </div>
  <div class="left-border-box middle">
    <div class="row charts-row">

      <div class="grain-chart left-border-box">
        <div class="price-card">
          <app-grain-chart></app-grain-chart>
        </div>
      </div>

      <div class="farm-chart left-border-box">
        <div class="price-card">
          <app-farm-chart></app-farm-chart>
        </div>
      </div>

    </div>

  </div>
</div>
