#side-menu-backdrop {
  top: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  width: 100%;
  max-width: 348px;
  max-height: 1002px;
  cursor: pointer;
}

#main-side-menu {
  width: 100%;
  height: 100%;
  max-width: 348px;
  max-height: 1002px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  user-select: none;

  .main-side-menu-logo-container {
    padding: 40px 40px 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: content-box;

    .branding-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .main-side-menu-logo {
      height: 64px;
      border-radius: 15px;
    }

    .main-side-menu-logo-text {
      margin: 0 20px;
      font-size: 30px;
      font-weight: bold;
      color: #FFFFFF;
    }

  }


  .main-side-menu-logo-container .dark-mode-toggle-container {


    .dark-mode-toggle-label {
      height: 35px;
      width: 70px;
      background: url("/assets/darkmode-toggle-background.jpg") 0% 4%;
      display: block;
      border-radius: 20px;
      position: relative;
      transition: background 0.5s;
      cursor: pointer;

      &::after {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: "☀️";
        height: 33px;
        width: 33px;
        background: white;
        border-radius: 50%;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.5s;
      }

    }

    #dark-mode-toggle-checkbox {
      display: none;

      &:checked ~ .dark-mode-toggle-label {
        background: url("/assets/darkmode-toggle-background.jpg") 100% 93%;

        &::after {
          left: 50%;
          content: "🌙"

        }
      }
    }
  }

  .main-side-menu-items {
    all: unset;
    padding: 0 40px;
    display: block;
    box-sizing: border-box;
    list-style: none;

    .main-side-menu-item {
      font-family: 'PT Sans', sans-serif;
      margin: 20px 0;
      font-size: 18px;
      cursor: pointer;
      font-weight: 400;
      transition: margin 0.5s;
      display: flex;
      color: #FFFFFF;

      span {
        margin: auto 0 auto 15px;
        display: inline-block;
        color: #FFFFFF;
      }
      .icon-wrapper {
        margin: auto 0;
        width: 44px;
        height: 44px;
        background: #5CADAA;
        border-radius: 10px;
        display: flex;
        svg {
          margin: auto;
        }
        svg > path {
          fill: #FFFFFF;
        }
      }

      &.active {
        font-family: 'PT Sans Bold', sans-serif;
        .icon-wrapper {
          background: #FFFFFF;
          svg > path {
            fill: #5CADAA;
          }
        }
      }

      &:hover {
        .icon-wrapper {
          background: #FFFFFF;
          svg > path {
            fill: #5CADAA;
          }
        }
      }

      /*&::before {
        font-family: "Font Awesome 5 Free";
        content: attr(data-menu-icon);
        margin: 0 10px;
      }*/

      &.nested {
        margin-left: 25px;
      }
    }
    content {
      display: flex;

      .line-holder {
        padding: 0 23px;
      }
      .line {
        width: 1px;
        height: 100%;
        background: #9DDCD9;
      }
      .submenu {
        width: 100%;
      }
      .main-side-menu-item {
        font-family: 'PT Sans', sans-serif;
        margin: 0;
        border-radius: 8px;
        padding: 7px 14px;
        font-size: 16px;
      }
      .main-side-menu-item span {
        margin: 0;
      }
      .main-side-menu-item.active {
        background: #8CD3D1;
      }
    }


  }

  .bottom-social-icons {
    display: flex;
    width: 222px;
    padding: 20px 0 20px 42px;
    margin: auto auto 45px 0;

   .social-link {
     margin-right: 26px;
     display: flex;
     svg {
      margin: auto;
     }
     svg > path {
       fill: #FFFFFF;
     }
   }
   .social-link:hover {
     svg > path {
       fill: #EEBF65;
     }
   }

  }

  .bottom-wave {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }


  .scoreboard-switch-container {
    text-align: center;
    margin: 20px 0;
  }


}


@media (max-width: 1600px) {
  #side-menu-backdrop {
    max-width: 100%;
    max-height: 100%;
    z-index: 9999;
    position: fixed;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  #main-side-menu {
    z-index: 9999;
    position: fixed;
  }
}
