@import "themes/theme-classes";

.side-menu-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.main-side-menu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  user-select: none;

  &__logo {
    height: 64px;
    border-radius: 15px;
  }

  &__logo-text {
    margin: 0 20px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
  }

  &__branding-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-container {
    padding: 40px 40px 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: content-box;
  }
}

.icon-wrapper {
  margin: auto 0;
  width: 44px;
  height: 44px;
  background: map-get($themes_colors, "light", "middleGreen");
  border-radius: 10px;
  display: flex;

  &__icon {
    background: #ffffff;
  }

  &__icon-HOME {
    width: 15px;
    height: 17px;
    mask: url(/assets/icons/menu/home.svg) no-repeat center;
  }

  &__icon-CHARTS {
    width: 18px;
    height: 16px;
    mask: url(/assets/icons/menu/charts.svg) no-repeat center;
  }

  &__icon-REWARDS_HISTORY {
    width: 20px;
    height: 18px;
    mask: url(/assets/icons/menu/rewards.svg) no-repeat center;
  }

  &__icon-DOWNLOADS {
    width: 16px;
    height: 18px;
    mask: url(/assets/icons/menu/download.svg) no-repeat center;
  }

  &__icon-USER_BALANCES {
    width: 20px;
    height: 18px;
    mask: url(/assets/icons/menu/balance.svg) no-repeat center;
  }

  &__icon-VAULTS_LIST {
    width: 18px;
    height: 14px;
    mask: url(/assets/icons/menu/vault.svg) no-repeat center;
  }

  &__icon-USER_STATS {
    width: 28px;
    height: 24px;
    mask: url(/assets/icons/menu/stats.svg) no-repeat center;
  }

  &__icon-PROFIT {
    width: 28px;
    height: 24px;
    mask: url(/assets/icons/menu/profit.svg) no-repeat center;
  }
}

.side-menu {
  all: unset;
  padding: 0 40px;
  display: block;
  box-sizing: border-box;
  list-style: none;

  &__item-title {
    margin-left: 15px;
  }

  &__item {
    font-family: 'PT Sans', sans-serif;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    transition: margin 0.5s;
    display: flex;
    color: #FFFFFF;

    &.active {
      font-family: 'PT Sans Bold', sans-serif;

      .icon-wrapper {
        background: #ffffff;

        &__icon {
          background: map-get($themes_colors, "light", "middleGreen");
        }
      }
    }

    &:hover {
      .icon-wrapper {
        background: #ffffff;

        &__icon {
          background: map-get($themes_colors, "light", "middleGreen");
        }
      }
    }

    &.nested {
      margin-left: 25px;
    }
  }

  content {
    display: flex;

    .line-holder {
      padding: 0 23px;
    }

    .line {
      width: 1px;
      height: 100%;
      background: #9DDCD9;
    }

    .submenu {
      width: 100%;
    }

    .side-menu__item {
      font-family: 'PT Sans', sans-serif;
      margin: 0;
      border-radius: 8px;
      padding: 7px 14px;
      font-size: 16px;
    }

    .side-menu__item span {
      margin: 0;
    }

    .side-menu__item.active {
      background: #8CD3D1;
    }
  }


}

.bottom-social-icons {
  margin-bottom: 45px;
  padding: 20px 40px;

  .social-link {
    margin-right: 26px;
    display: flex;

    &__icon {
      background: #ffffff;
    }

    &__twitter {
      width: 24px;
      height: 20px;
      mask: url(/assets/icons/socials/twitter.svg) no-repeat center;
    }

    &__github {
      width: 24px;
      height: 24px;
      mask: url(/assets/icons/socials/github.svg) no-repeat center;
    }

    &__discord {
      width: 24px;
      height: 20px;
      mask: url(/assets/icons/socials/discord.svg) no-repeat center;
    }

    &__medium {
      width: 24px;
      height: 20px;
      mask: url(/assets/icons/socials/medium.svg) no-repeat center;
    }

    &:hover {
      &__icon {
        background: #eebf65;
      }
    }
  }
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
}


@media (max-width: 1600px) {
  .side-menu-backdrop {
    max-width: 100%;
    max-height: 100%;
    z-index: 9999;
    position: fixed;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
  }

  .main-side-menu {
    z-index: 9999;
    position: fixed;
  }
}
