<div
  *ngIf="sideMenuState"
  class="side-menu-backdrop"
  (click)="toggleMenu()">
</div>

<div
  [@openMenu]="sideMenuState ? 'open' : 'closed'"
  class="main-side-menu g-flex-column g-scroll-y"
  [class]="viewTypeService.getThemeColor() + '-softGreen'">
  <div class="main-side-menu__logo-container">
    <div class="main-side-menu__branding-box">
      <img
        class="main-side-menu__logo"
        src="/assets/harvest_logo.png"
        alt="Harvest Logo">

      <h4 class="main-side-menu__logo-text">
        Harvest
      </h4>
    </div>
  </div>

  <ul class="side-menu">
    <li
      class="side-menu__item g-flex g-flex--align-center"
      [class.active]="isRouteActive(ROUTES.HOME)"
      (click)="openRoute(ROUTES.HOME, true)">
      <div class="icon-wrapper g-flex g-flex--align-center g-flex--justify-center">
        <div class="icon-wrapper__icon icon-wrapper__icon-HOME"></div>
      </div>

      <div class="side-menu__item-title">
        {{ MENU_ITEMS.HOME }}
      </div>
    </li>

    <app-collapsible-area #collapsibleArea>
      <header>
        <li
          class="side-menu__item g-flex g-flex--align-center"
          [class.active]="isRouteActive(ROUTES.CHARTS)">
          <div class="icon-wrapper g-flex g-flex--align-center g-flex--justify-center">
            <div class="icon-wrapper__icon icon-wrapper__icon-CHARTS"></div>
          </div>

          <div class="side-menu__item-title">
            {{ MENU_ITEMS.CHARTS }}
          </div>
        </li>
      </header>

      <content>
        <div class="line-holder">
          <div class="line">
          </div>
        </div>

        <div class="submenu">
          <ng-container *ngFor="let item of menuItems">
            <li
              *ngIf="item !== 'CHARTS' && item.indexOf('CHARTS') >= 0"
              class="side-menu__item g-flex g-flex--align-center nested"
              [class.active]="isRouteActive(ROUTES[item])"
              (click)="openRoute(ROUTES[item])">
              <div>
                {{ MENU_ITEMS[item] }}
              </div>
            </li>
          </ng-container>
        </div>
      </content>
    </app-collapsible-area>

    <ng-container *ngFor="let item of menuItems">
      <li
        *ngIf="item !== 'HOME' && item.indexOf('CHARTS') < 0"
        class="side-menu__item g-flex g-flex--align-center"
        [class.active]="isRouteActive(ROUTES[item])"
        (click)="openRoute(ROUTES[item], true)">
        <div class="icon-wrapper g-flex g-flex--align-center g-flex--justify-center">
          <div
            class="icon-wrapper__icon"
            [ngClass]="'icon-wrapper__icon-' + item">
          </div>
        </div>

        <div class="side-menu__item-title">
          {{ MENU_ITEMS[item] }}
        </div>
      </li>
    </ng-container>
  </ul>

  <nav class="bottom-social-icons g-flex g-flex--align-center g-flex--space-between">
    <a class="social-link g-flex" href="https://twitter.com/harvest_finance">
      <div class="social-link__icon social-link__twitter"></div>
    </a>

    <a class="social-link g-flex" href="https://github.com/harvestfi">
      <div class="social-link__icon social-link__github"></div>
    </a>

    <a class="social-link g-flex" href="https://discord.gg/R5SeTVR">
      <div class="social-link__icon social-link__discord"></div>
    </a>

    <a class="social-link g-flex" href="https://medium.com/harvest-finance">
      <div class="social-link__icon social-link__medium"></div>
    </a>
  </nav>

  <img
    class="bottom-wave"
    src="/assets/icons/menu/menu-bottom.svg">
</div>
