<div class="harvest-trades" [ngStyle]="{'color': priceGradientLight(dto.methodName, dto.usdAmount, dto.confirmed)}">
    <div class="harvest-field harvest2-date left-border-box"
         matTooltip="{{dto.blockDateAdopted | date: 'dd.MM.yyyy HH:mm:ss'}}
                  {{dto.vault}}
                  {{dto.methodName}}
                  fAmount: {{dto.amount | number: '1.0-6'}}
                  amount: {{dto.amountIn | number: '1.0-6'}}
                  sharePrice: {{dto.sharePrice | number}}
                  vault tvl: {{dto.lastTvl | number}}" matTooltipClass="tooltip-spaced">
      {{fullDate ?
        (dto.blockDateAdopted | date: 'dd-MMM-yyyy HH:mm:ss') :
        (dto.blockDateAdopted | date: 'HH:mm:ss')
      }}
    </div>

    <div class="harvest-field harvest2-type left-border-box">
      <container-element [ngSwitch]="dto.methodName.toLowerCase()">
        
        <mat-icon *ngSwitchCase="'deposit'"
                  [ngStyle]="{'color': priceGradientLight(dto.methodName, dto.amount, dto.confirmed)}"
                  aria-hidden="false"
                  aria-label="BUY">trending_up
        </mat-icon>
        <mat-icon *ngSwitchCase="'withdraw'"
                  [ngStyle]="{'color': priceGradientLight(dto.methodName, dto.amount, dto.confirmed)}"
                  aria-hidden="false"
                  aria-label="SELL">trending_down
        </mat-icon>
        <mat-icon *ngSwitchDefault
                  [ngStyle]="{'color': priceGradientLight(dto.methodName, dto.amount, dto.confirmed)}"
                  aria-hidden="false"
                  aria-label="?">help
        </mat-icon>
      </container-element>
    </div>

    <div class="harvest-field harvest2-amount left-border-box">
      {{dto.usdAmount | number: '1.0-0'}}$
    </div>

    <div class="harvest-field harvest2-vault left-border-box">
      <img alt="?" class="tvl-img" src="{{getImgUrl(dto.vault)}}"/>
    </div>

    <div class="harvest-field harvest2-tvl left-border-box">
      {{dto.lastUsdTvl | number: '1.0-0'}}$
    </div>

    <div class="harvest-field harvest2-type left-border-box pointer ">
      <app-custom-modal *ngIf="openModal">
        <app-link-window (showModal)="hideTradeLinks($event)"
                         [hash]='dto.hash' [owner]='dto.owner'>

        </app-link-window>
      </app-custom-modal>
        <mat-icon (click)="showTradeLinks()"
                  [ngStyle]="{'color': '#b5b4b4'}"
                  aria-hidden="false" aria-label="Price" class="sign-icon">
          open_in_new
        </mat-icon>
      </div>
  </div>
