.close {
  cursor: pointer;
}

.close-icon {
  font-size: 1em;
}

.apy-window {
  .apy-card {
    padding: 10px;
    //min-height: 300px;
    min-width: 300px;
  }
  .sign-icon {
    font-size: 16px;
  }

  .link a {
    &:first-child {
      margin-left: 0;
    }
    text-decoration: none;
    background-color: #EEBF65;
    color: black;
    position: relative;
    font-size: 12px;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    transition: all .2s ease-out;
  }

}
