.close {
  cursor: pointer;
}

.close-icon {
  font-size: 1em;
}

.apy-window {
  .apy-card {
    padding: 10px;
    min-height: 100px;
    min-width: 300px;
  }
  .sign-icon {
    font-size: 16px;
  }
}
