@import "../../../scss/utilities/responsive_utilities.scss";
.main-table {

  align-items: center;
  max-width: 400px;
  cursor: default;
}

.value {
  width: 100%;
  margin: 5px 10px;
  text-align: left;
  white-space: nowrap;
  display: inline-block;
}

.value-name {
  font-weight: normal;
}

.title-row {
  margin-top: 10px;
}

.title {
  width: 80%;
}

.close {
  cursor: pointer;
}

.close-icon {
  font-size: 1em;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  text-align: center;
}

.link a {
  /*width: 80%;*/
  text-decoration: none;
  background-color: #EEBF65;
  color: black;
  position: relative;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  transition: all .2s ease-out;
}

.main-table hr{
  width: 80%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.only-farm-caption {
  width: 80%;
  margin: 10px;
  /*padding-right: 20px;*/
  white-space: nowrap;
  text-align: center;
}

.apy-window {
  .apy-card {
    padding: 10px;
    min-height: 100px;
    min-width: 160px;
  }
  .sign-icon {
    font-size: 16px;
  }
}
