.main-table {
  /*display: flex;*/
  /*justify-content: center;*/
  align-items: center;
}

.value {
  width: 100%;
  margin: 5px 10px;
  text-align: left;
  white-space: nowrap;
  display: inline-block;
}

.value-name {
  font-weight: normal;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.title-row {
  margin-top: 10px;
  /*display:inline-block;*/
}

.title {
  width: 80%;
  /*margin: 5px;*/
  /*padding-left: 10px;*/
  /*white-space: nowrap;*/
  /*text-align: center;*/
}

.close {
  width: 20%;
  color: black;
  cursor: pointer;
  /*position: relative;*/
  /*float: right;*/
  /*margin-right: 20px;*/
}

.close-icon {
  font-size: 1em;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  text-align: center;
}

.link a {
  /*width: 80%;*/
  text-decoration: none;
  background-color: #EEBF65;
  color: black;
  position: relative;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  transition: all .2s ease-out;
}

.main-table hr{
  width: 80%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.only-farm-caption {
  width: 80%;
  margin: 10px;
  /*padding-right: 20px;*/
  white-space: nowrap;
  text-align: center;
}

.tvl-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
