<div class="main-table">

  <div class="row title-row" >
    <div class="title left-border-box">
      <img alt="?" class="tvl-img" src="{{getImgSrc()}}"/>
      {{poolName}}
    </div>
    <div (click)="closeModal()" class="close left-border-box">
      <mat-icon class="close-icon">
        close
      </mat-icon>
    </div>
  </div>

  <div class="value">
    <span class="value-name">Average TVL(last week): </span>
    {{poolAvgTvl | number: '1.1-1'}}$
  </div>

  <div class="value">
    <span class="value-name">Period of work: </span>
    <span>{{poolPeriodOfWork | number: '1.1-1'}} days</span>
  </div>

  <hr>
  <!-- **************STRATEGY INCOME**************** -->
  <div *ngIf="!isAutoStakeVault && !isFarmVault">

    <div class="value">
      <span class="value-name">Total earned:</span>
      {{poolEarned | number: '1.1-1'}}$
    </div>

    <div class="value">
      <span class="value-name">Last week earned:</span>
      {{poolEarnedLastWeek | number: '1.1-1'}}$
    </div>

    <div class="value">
      <span class="value-name">Strategy hAPR:</span>
      {{poolApr | number: '1.1-1'}}%
    </div>

    <div class="value">
      <span class="value-name">Strategy hAPY:</span>
      {{toApy(poolApr) | number: '1.1-1'}}%
    </div>

  </div>

  <div *ngIf="isAutoStakeVault">
    <div class="only-farm-caption">
      It's AutoStake pool, only FARM rewards
    </div>
  </div>

  <div *ngIf="isFarmVault">
    <div class="only-farm-caption">
      It's Harvest LP, only FARM rewards
    </div>
  </div>

  <hr>
  <!-- **************WEEKLY FARM REWARDS**************** -->

  <div class="value">
    <span class="value-name">Reward period:</span>
    {{poolRewardPeriod | number: '1.0-0'}} day(s)
  </div>

  <div class="value">
    <span class="value-name">FARM rewards:</span>
    {{poolReward | number: '1.1-1'}} FARM
  </div>

  <div class="value">
    <span class="value-name">FARM reward iAPR:</span>
    {{poolRewardApr | number: '1.1-1'}}%
  </div>

  <div class="value">
    <span class="value-name">FARM reward iAPY:</span>
    {{toApy(poolRewardApr) | number: '1.1-1'}}%
  </div>

  <div class="value" matTooltip="Last week average APY">
    <span class="value-name">FARM reward hAPY:</span>
    {{poolRewardWeeklyApy | number: '1.1-1'}}%
  </div>

  <hr>

  <div class="value">
    <span class="value-name">Total APR:</span>
    {{(poolRewardApr + poolApr) | number: '1.1-1'}}%
  </div>

  <div class="value">
    <span class="value-name">Total APY:</span>
    {{(toApy(poolRewardApr) + toApy(poolApr)) | number: '1.1-1'}}%
  </div>

  <hr>

  <div class="link pointer">
    <a (click)="openIncomeDialog()">
      Chart
    </a>
  </div>
  <app-custom-modal #incomeModal>
    <ng-template>
      <app-income-dialog [data]="{title: poolName + ' Income history chart', name: poolName}"></app-income-dialog>
    </ng-template>
  </app-custom-modal>
  
  <app-custom-modal #psApyModal>
    <ng-template>
      <app-rewards-dialog [data]="{title: 'PS APY History'}"></app-rewards-dialog>
    </ng-template>
  </app-custom-modal>


  <div class="link">
    <a href='https://www.notion.so/harvestfinance/APY-Calculation-bd7a8082f76541e79fe49d8d928a2c93'
       target='_blank'>
      Interest rate guide
    </a>
  </div>

</div>

