@import "../../../../scss/utilities/responsive_utilities";
#top-div-light {
  margin-top: 26px;
}
.main-top-stats {
  display: grid;
  grid-template-areas:   "farm btc btc weekly-profit ps-income tvl"
                         "eth  eth eth weekly-profit ps-income tvl"
                         "farm-buybacks farm-staked farm-staked  saved-gas total-users active-pools";

  @include responsive(medium) {
    grid-template-areas:   "farm btc"
                           "eth eth"
                           "weekly-profit ps-income"
                           "tvl farm-staked"
                           "saved-gas farm-buybacks"
                           "total-users active-pools";
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 0.5fr 0.5fr;
  }

  .value-card {
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0 27px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;

    .title {
      text-align: center;
      width: 100%;
      font-size: 2.57em;
      margin-bottom: 27px;
    }
    span {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .gas {
    grid-area: gas-price;
  }

  .farm-staked {
    grid-area: farm-staked;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .weekly-profits {
    grid-area: weekly-profit;
    height: 220px;
  }

  .ps-income {
    grid-area: ps-income;
    height: 220px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .tvl {
    grid-area: tvl;
    text-align: center;
    height: 220px;
  }

  .farm-holders {
    grid-area: farm-holders;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .farm-buybacks {
    grid-area: farm-buybacks;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }


  .saved-fees {
    grid-area: saved-gas;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .total-users {
    grid-area: total-users;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .active-pools {
    grid-area: active-pools;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .farm{
    grid-area: farm;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .bnb {
    grid-area: bnb;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .eth{
    grid-area: eth;
    height: 100px;
    padding: 0;
    background: transparent;
    .currency-wrapper {
      width: 100%;
      min-height: 100px;
      display: flex;
      justify-content: space-between;
      .currency {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .currency:first-child {
        margin-left: 0;
      }
      .currency:last-child {
        margin-right: 0;
      }
    }
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .btc{
    grid-area: btc;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }

  .matic{
    grid-area: matic;
    height: 100px;
    .value-number-middle {
      font-size: 2.14em;
      margin-top: 10px;
    }
    .sign {
      font-size: unset;
    }
  }


  .value-caption {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }


  .sign {
    font-weight: bolder;
    font-size: 3.57em;
    @include responsive(small) {
      font-size: 3em;
    }
  }

  .value-number {
    font-weight: bolder;
    font-size: 3.57em;

    @include responsive(small) {
      font-size: 3em;
    }
  }


  .value-middle {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    .sign {
      font-weight: bolder;
      font-size: 3.57em;
    }
  }



  .value-number-middle {
    margin-top: 3px;
    font-size: 1.9em;
    font-weight: bolder;
    text-align: center;
  }


  .icon {
    width: 12px;
    height: 12px;
    position: absolute;

    @include responsive(phone) {
      width: 6px;
      height: 6px;
    }
  }

  .small-value-caption {
    margin-left: 14px;

    @include responsive(phone) {
      margin-left: 8px;
    }
  }
}


#top-div-scoreboard {
  .caption-btc, .caption-btc-value, .caption-btc-sign {
    color: #77612e;
  }

  .caption-btc-sign {
    font-size: 3em;
  }

  .caption-eth, .caption-eth-value, .caption-eth-sign {
    color: #596d56;
  }

  .caption-eth-sign {
    font-size: 3em;
  }

  .caption-ps-value, .caption-ps-sign, .caption-ps {
    color: mediumpurple;
  }

  .last-price-sign {
    font-size: 4em;
    color: #fff;
  }

}

@media (max-width: 1850px) {
  .main-top-stats {
    padding: 0 10px;
  }
}

@media (max-width: 1250px) {
  .main-top-stats {
    .eth {
      height: unset;
      .currency-wrapper {
        flex-direction: column;
        height: auto;
        .currency {
          box-sizing: border-box;
          height: 100px;
          margin: 10px 0;
        }
        .currency:first-child {
          margin-top: 0;
        }
        .currency:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
