<div [ngClass]="moreColumns ? 'hardwork-info-full' : 'hardwork-info'">
  <div *ngIf='moreColumns' class="hardwork-field hardwork-poolCalls">
    {{dto.callsQuantity }}
  </div>
  <app-popover-card class="hardwork-field hardwork-date left-border-box">
    <ng-template>
      <p>{{dto.blockDateAdopted| date: 'dd.MM.yyyy HH:mm:ss'}}</p>
      <p>{{dto.vault}}</p>
      <p>TVL ${{dto.tvl | number: '1.0-0'}}</p>
      <p>PS APR {{dto.psApr.toFixed(2) | number: '1.0-0'}}%</p>
    </ng-template>
    {{fullDate ?
      (dto.blockDateAdopted | date: 'dd-MMM-yyyy HH:mm:ss') :
      (dto.blockDateAdopted | date: 'dd-MMM HH:mm')
    }}

  </app-popover-card>

  <div class="hardwork-field hardwork-vault-img">
    <app-vault-icon [vault]="dto.vault"></app-vault-icon>
  </div>


  <div class="hardwork-field hardwork-vault">
    {{name}}
  </div>

  <div class="hardwork-field hardwork-shareChangeUsd">
    ${{dto.fullRewardUsd | number: '1.2-2'}}
  </div>


  <div *ngIf='moreColumns' class="hardwork-field hardwork-farmBuyback">
    {{dto.farmBuyback.toFixed(2)}} FARM
  </div>

  <div *ngIf='moreColumns' class="hardwork-field hardwork-weeklyProfit">
    ${{dto.weeklyProfit | number: '1.0-0'}}
  </div>

  <div *ngIf='moreColumns' class="hardwork-field hardwork-tvl currency">
    ${{ (dto.tvl| number: '1.0-0')}}
  </div>

  <div *ngIf='moreColumns' class="hardwork-field hardwork-periodOfWork">
    {{(dto.periodOfWork / (60 * 60 * 24)).toFixed(2)}} days
  </div>

  <div *ngIf='moreColumns' class="hardwork-field hardwork-gasSaved">
    ${{dto.savedGasFees | number: '1.0-0' }}
  </div>

  <div class="hardwork-field pointer">
    <app-transaction-link [transactionHash]="hash" [network]="network"></app-transaction-link>
  </div>


</div>
