@import "src/scss/themes/theme-mixins.scss";


.hardwork-info-full {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  font-weight: bold;
  width: 100%;
  font-size: .9em;
  margin: 3px 0;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgba(#111111, 0.2);
  
  @include isDarkMode(){
    border: 1px solid #111111;
  }

}

.hardwork-field {
  width: 100%;
  white-space: nowrap;
  text-align: center;


  .tvl-img {
    width: 25%;
    margin: 0 auto;

  }
}

.pointer {
  display: flex;
  align-items: center;
  justify-content: center;

  .sign-icon {
    font-size: .9em;
    margin-top: 10px;
    margin-bottom: 0;

  }
}

.hardwork-vault {
  font-size: 0.8em;
  align-items: baseline;
}