@import "../../../../scss/utilities/utilities.scss";
@import "../../flow-card-common-styles.scss";


.uni-card {

  .title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0.4em;

  }

  .table-header {
    grid-template-columns: 15% 30% 15% 20% 15% 5%;
  }

  .trades-list {



    .trades-list-item {
      grid-template-columns: 12% 30% 15% 20% 10% 10%;
      gap: 5px;
    
      .transaction-type span {
        padding: 0.3em 0.4em;
        text-align: center;
        border-radius: 0.5em;
        font-size: 0.8em;

        &.BUY {
          background: rgba($buy-color, 0.3);
          border: 1px solid $buy-color;
          color: $buy-color;
        }

        &.SELL {
          background: rgba($sell-color, 0.3);
          border: 1px solid $sell-color;
          color: $sell-color;
        }

      }
    }

    .farm-value {
      text-align: center;
    }

    .usd-cost {
      text-align: center;
    }
  }



}