<div id="top-div-light">

  <div class="uni-card" [class]="vt.getThemeColor() + '-card'">
    <div #tooltip="matTooltip"
         aria-hidden="false"
         aria-label="?"
         class="title-span"
         matTooltip="List of trades contain FARM.
          Special trades will be marked with spec symbols (buys from doHardWork and sells from dev funds).
          Format: Date | buy/sell/add/rem | Farm amount | Other amount | Price">
      
      <div class="title-row">
        <h4 class="title">Trades</h4>
        <input #uniswapDtoFilter class="filter-input" placeholder="More than..." type="number" min="0">
      </div>
          
    </div>

    <div class="trade-card-header">
      <div class="trade-card-header-label date">Date</div>
      <div class="trade-card-header-label farm">FARM</div>
      <div class="trade-card-header-label usd">USD Cost</div>
      <div class="trade-card-header-label price">Price</div>
      <div class="trade-card-header-label price"></div>
    </div>

    <app-flow-tab [dtos]="dtos" [maxHeight]="180" [minAmount]="+uniswapDtoFilter.value"></app-flow-tab>
    <div class="button-container">
      <button class="show-more" (click)="openUniHistory()">show older</button>
    </div>
    <app-custom-modal #unitHistoryModal>
      <ng-template>
        <app-uni-history-dialog></app-uni-history-dialog>
      </ng-template>
    </app-custom-modal>


  </div>

</div>
