<div class="row central-view-row">
  <app-main-top-navigation></app-main-top-navigation>
  <div class="left-border-box left">
    <app-dashboard-last-values></app-dashboard-last-values>
  </div>

  <div>
    <app-flow-cards-view></app-flow-cards-view>
  </div>

  <div class="bottom-row">
    <div class="footer-wrapper">
      <app-main-footer></app-main-footer>
      <app-last-prices-list></app-last-prices-list>
      <div class="shadower"
          [class]="vt.getThemeColor()"></div>
    </div>
  </div>

</div>

<div *ngIf="loading" class="loading-screen">
</div>
