.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:999;
  /*background: #3d3d3d;*/
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(4px);
  display: none;
}

.central-view-row {
  width: 100%;
}

.left {
  width: 100%;
}

.middle {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .price-card {
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  .price-card {
    height: 350px;
  }
}

@media screen and (max-width: 399px) {
  .left {
    width: 100%;
  }

  .middle {
    width: 100%;
  }
}

mat-progress-bar {
  width: 100%;
}
