<div class="row central-view-row">
  <app-main-top-navigation></app-main-top-navigation>
  <div class="left-border-box left">
    <app-dashboard-last-values></app-dashboard-last-values>
  </div>

  <div class="left-border-box left">
    <app-strategy-list></app-strategy-list>
  </div>

  <div class="left-border-box middle">
    <div class="row charts-row">
      <app-price-chart></app-price-chart>
    </div>
  </div>

  <div>
    <app-flow-cards-view></app-flow-cards-view>
  </div>

  <div class="bottom-row">
    <app-main-footer></app-main-footer>
    <app-last-prices-list></app-last-prices-list>
  </div>

</div>

<div *ngIf="loading" class="loading-screen">
</div>
